/*------------------------------
SECCI├ôN NUESTROS SERVICIOS
-------------------------------*/
.servicios article {
  display: flex;
  align-items: center;
  margin: 2rem 0; }

.servicios img {
  flex: 0 0 60px;
  overflow: hidden;
  margin-right: 1rem; }

.servicios h3 {
  margin: 0;
  flex: 1 1 auto;
  font-size: 1.1rem; }

.servicios h3 a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none; }

.servicios h3 a::after {
  font-family: FontAwesome;
  font-size: 2rem;
  margin-left: 1rem;
  opacity: .5;
  position: relative;
  left: 0;
  transition: all .5s ease; }

.servicios h3 a:hover::after {
  left: -0.5rem;
  opacity: 1;
   }

/*------------------------------
EMPIEZAN LAS MEDIAS QUERIES
-------------------------------*/

  /*Secci├│n Servicios*/
  .servicios article {
    flex-direction: column;
    text-align: center; }

  .servicios h3 a::after {
    display: none; }

  .servicios img {
    flex: 0 0 160px;
    margin-bottom: 1rem;
    margin-right: 0;
    transition: all 1s ease; }

  .servicios article:hover img {
    transform: rotateY(350deg);
    transform-style: preserve-3d; }

  .servicios h3 {
    font-weight: bold;
    margin-bottom: .5rem;
    font-size: 1.3rem;
    flex: 0 1 auto; }

  .servicios .btn {
    margin-top: auto; }
