
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main id="movermain">
        <div><b style="font-size: 22px;">Actualizar Lote</b></div>

        <form class="col s12" method="post">
            {% csrf_token %}

            <div class="input-field col s6 fecha_vencimiento">

                <input id ="fecha_vencimiento" type="text" name="fecha_vencimiento" value="{{ fecha_vencimiento|date:"d/m/Y"}}"  >


            </div>

            <div class="input-field col s6">
                <input id="existencias" type="number"  name="existencias" value="{{ existencias }}" min="0" >
                <label for="exitencias">Existencias:</label>
            </div>

            <button class="btn btn-primary"  type="submit" name="action" href="/actualizar_lote/{{lote_id}}">Aceptar
                <i class="material-icons right">send</i>
            </button>
            <a class="btn btn-danger" href="/lotes/{{ medicamento }}" type="submit">Cancelar <i class="material-icons right">cancel</i></a>

        </form>

       <script type="text/javascript">
            $('input[name="fecha_vencimiento"]').mask('00/00/0000');
        </script>
        <script type="text/javascript">
            $('input[name="fecha_vencimiento"]').dblclick(function() {
                $('input[name="fecha_vencimiento"]').datepicker('show');
            });
            $('input[name="fecha_vencimiento"]').click(function() {
                $('input[name="fecha_vencimiento"]').datepicker('hide');
            });
        </script>
        <script type="text/javascript">
            $('input[name="fecha_vencimiento"]').datepicker({
                format: "dd/mm/yyyy",
                todayBtn: "linked",
                maxViewMode: 3,
                autoclose: true,
                language: "es",
                daysOfWeekHighlighted: "0",
                clearBtn: true,
                todayHighlight: true,
                orientation: "bottom auto",
                container: "div.fecha_vencimiento"
            });
        </script>



        <script type="text/javascript">
            (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
        </script>
    </main>

{%endblock%}
