{% extends 'base.html' %}

{% load static %}
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}

{% block content %}
    <main id="movermain" class="consulta-tabla">
        <div {% if perms.control.add_citamedica %}class="col-sm-6"{% endif %}><h4>Agenda de Citas</h4></div>
        {% if perms.control.add_citamedica %}
            <form action={% url 'agenda_citas' %} method="post"> {% csrf_token %}
                <div class="row">
                    <div class="col-sm-6">
                        <label>Buscar por: </label>
                        <select class="select-search" name="select">
                            <option value="1" selected>Médico</option>
                            <option value="2">Número de Expediente</option>
                        </select>
                    </div>

                    <div class="col-sm-8">
                        <input name="search" type="text" class="validate">
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-primary waves-effect waves-light" type="submit">Buscar
                            <i class="material-icons right">search</i>
                        </button>
                    </div>
                </div>
            </form>
        {% endif %}
        <hr />
        <div class="agenda">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover agenda_citas" >
                    <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Hora Inicio</th>
                        <th>Hora Fin</th>
                        {% if perms.control.add_citamedica %}
                            <th>Médico</th>
                        {% endif %}
                        <th colspan="2">Paciente</th>
                        {% if perms.control.add_citamedica%}
                            <th>Acciones</th>
                        {% endif %}
                        {% if perms.control.add_citamedica %}
                            <th>Signos Vitales</th>
                        {% endif %}
                        {% if perms.control.change_citamedica or perms.control.delete_citamedica%}
                            <th>Diagnóstico</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Multiple events in a single day (note the rowspan) -->
                    {% for fila in agenda %}
                        {% for cita in fila.1 %}
                            {% if forloop.counter == 1 %}
                                <tr>
                                    <td class="agenda-date" class="active" rowspan={{ fila.2 }}>
                                        <div class="dayofmonth">{{ fila.0.1 }}</div>
                                        <div class="dayofweek">{{ fila.0.0 }}</div>
                                        <div class="shortdate text-muted">{{ fila.0.2 }}</div>
                                    </td>
                                    <!-- fila.1.0 es un objeto tipo CitaMedica-->
                                    <td class="agenda-events">
                                        {{ cita.hora_inicio|date:"P" }}
                                    </td>
                                    <td class="agenda-events">
                                        {{ cita.hora_fin|date:"P" }}
                                    </td>
                                    {% if perms.control.add_citamedica %}
                                        <td class="agenda-events">
                                            <div class="agenda-event">
                                                {{ cita.medico.nombre|title }}
                                            </div>
                                        </td>
                                    {% endif %}
                                    <td class="agenda-events">
                                        <div class="agenda-event">
                                            {% if cita.plan_tratamiento %}
                                                {{ cita.plan_tratamiento.expediente.paciente }}
                                            {% else %}
                                                Paciente Externo
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td class="agenda-events">
                                        <div class="agenda-event">
                                            {% if cita.plan_tratamiento %}
                                                {% if perms.administracion.add_paciente or perms.administracion.change_paciente %}
                                                    {{ cita.plan_tratamiento.expediente.num_expediente }}
                                                {% else %}
                                                    <a href="/expediente/{{ cita.plan_tratamiento.expediente.id }}">{{ cita.plan_tratamiento.expediente.num_expediente }}</a>
                                                {% endif %}
                                            {% else %}
                                                N/A
                                            {% endif %}
                                        </div>
                                    </td>
                                    {% if perms.control.add_citamedica%}
                                        <td>
                                            <a class="btn btn-primary" href={% url 'ActualizarCitaMedica' cita.id %}><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                            <a class="btn btn-danger" href={% url 'EliminarCitaMedica' cita.id %}><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                        </td>
                                    {% endif %}
                                    {% if perms.control.add_citamedica%}
                                        <td>
                                            <a class="btn btn-primary" href={% url 'PuntosVitales' cita.id %}><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                        </td>
                                    {% endif %}
                                    {% if perms.control.change_citamedica or perms.control.delete_citamedica%}
                                        <td>
                                            {% if  perms.control.delete_citamedica %}
                                                <a class="btn btn-view" href={% url 'ConsultarDiagnostico' cita.id %}><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                            {% endif %}
                                            {% if perms.control.change_citamedica %}
                                                <a class="btn btn-primary" href={% url 'Diagnostico2' cita.id %}><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% else %}
                                <tr>
                                    <td class="agenda-events">
                                        {{ cita.hora_inicio|date:"P" }}
                                    </td>
                                    <td class="agenda-events">
                                        {{ cita.hora_fin|date:"P" }}
                                    </td>
                                    {% if perms.control.add_citamedica %}
                                        <td class="agenda-events">
                                            <div class="agenda-event">
                                                {{ cita.medico.nombre|title }}
                                            </div>
                                        </td>
                                    {% endif %}
                                    <td class="agenda-events">
                                        <div class="agenda-event">
                                            {% if cita.plan_tratamiento %}
                                                {{ cita.plan_tratamiento.expediente.paciente }}
                                            {% else %}
                                                Paciente Externo
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td class="agenda-events">
                                        <div class="agenda-event">
                                            {% if cita.plan_tratamiento %}
                                                {% if perms.administracion.add_paciente or perms.administracion.change_paciente %}
                                                    {{ cita.plan_tratamiento.expediente.num_expediente }}
                                                {% else %}
                                                    <a href="/expediente/{{ cita.plan_tratamiento.expediente.id }}">{{ cita.plan_tratamiento.expediente.num_expediente }}</a>
                                                {% endif %}
                                            {% else %}
                                                N/A
                                            {% endif %}
                                        </div>
                                    </td>
                                    {% if perms.control.add_citamedica%}
                                        <td>
                                            <a class="btn btn-primary" href={% url 'ActualizarCitaMedica' cita.id %}><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                            <a class="btn btn-danger" href={% url 'EliminarCitaMedica' cita.id %}><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                        </td>
                                    {% endif %}
                                    {% if perms.control.add_citamedica%}
                                        <td>
                                            <a class="btn btn-primary" href={% url 'PuntosVitales' cita.id %}><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                        </td>
                                    {% endif %}
                                    {% if perms.control.change_citamedica or perms.control.delete_citamedica%}
                                        <td>
                                            {% if perms.control.delete_citamedica %}
                                                <a class="btn btn-view" href={% url 'ConsultarDiagnostico' cita.id %}><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                            {% endif %}
                                            {% if perms.control.change_citamedica %}
                                                <a class="btn btn-primary" href={% url 'Diagnostico' cita.id %}><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% if messages %}
            {% for mensaje in messages %}
                <script type="text/javascript">
                    (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
                </script>
            {% endfor %}
        {% endif %}

        {% if mensaje %}
            <script type="text/javascript">
                (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
            </script>
        {% endif %}

        <script type="text/javascript">
            $(function(){
                // turn the element to select2 select style
                $('.select-search').select2();
            });
        </script>

    </main>
{% endblock %}