{% extends 'base.html' %}
{% load static %}
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}

{% block content %}
    <main id="movermain">
        <form action="" method="POST" class="viewform">
            {% csrf_token %}

            {% form form=resultado_form %}
                {% part form.examen prefix %} <i class="material-icons prefix">assignment</i>{% endpart %}
                {% part form.fecha_realizacion prefix %} <i class="material-icons prefix">date_range</i>{% endpart %}
                {% attr form.fecha_realizacion 'group' class append %}fecha_1{% endattr %}
                {% attr form.fecha_realizacion 'widget' autocomplete  append %}off{% endattr %}
                {% part form.lectura prefix %}<i class="material-icons prefix">poll</i>{% endpart %}
                {% part form.comentario prefix %}<i class="material-icons prefix">poll</i>{% endpart %}
            {% endform %}

            <button class="btn btn-primary"  type="submit" name="action" >Registrar
                <i class="material-icons right">send</i>
            </button>
            <a class="btn btn-danger" href="{% url 'expediente' pk=pk %}" type="submit">Cancelar<i class="material-icons right">cancel</i></a>

        </form>

        <script type="text/javascript">
            $('input[name="resultado-fecha_realizacion"]').mask('00/00/0000');
        </script>


        <script type="text/javascript">
            (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
        </script>

        <script type="text/javascript">
            $('input[name="resultado-fecha_realizacion"]').dblclick(function() {
                $('input[name="resultado-fecha_realizacion"]').datepicker('show');
            });
            $('input[name="resultado-fecha_realizacion"]').click(function() {
                $('input[name="resultado-fecha_realizacion"]').datepicker('hide');
            });
        </script>

        <script type="text/javascript">
            $('input[name="resultado-fecha_realizacion"]').datepicker({
                format: "dd/mm/yyyy",
                todayBtn: "linked",
                maxViewMode: 3,
                autoclose: true,
                language: "es",
                daysOfWeekHighlighted: "0",
                clearBtn: true,
                todayHighlight: true,
                orientation: "bottom auto",
                container: "div.fecha_1"
            });
        </script>

        <script type="text/javascript">
            $(function(){
                // turn the element to select2 select style
                $('.select-search').select2();
            });
        </script>

    </main>
{% endblock %}>