{% extends 'base.html' %}
{% load static %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}
{% block content %}
    <main id="movermain">
        <form action="" method="POST" class="viewform">
            {% csrf_token %}
            {% form form=form %}
                {% part form.fecha_inicio prefix %}<i class="material-icons prefix">date_range</i>{% endpart %}
                {% attr form.fecha_inicio 'group' class append %}fecha_1{% endattr %}
                {% attr form.fecha_inicio 'widget' autocomplete  append %}off{% endattr %}
                {% part form.fecha_fin prefix %}<i class="material-icons prefix">event</i>{% endpart %}
                {% attr form.fecha_fin 'group' class append %}fecha_2{% endattr %}
                {% attr form.fecha_fin 'widget' autocomplete  append %}off{% endattr %}
                {% part form.estado prefix %}<i class="material-icons prefix">offline_pin</i>{% endpart %}
                {% part form.descripcion prefix %}<i class="material-icons prefix">content_paste</i>{% endpart %}
            {% endform %}
            <button class="btn btn-primary"  type="submit" name="action" >Guardar
                <i class="material-icons right">send</i>
            </button>
        </form>

        <script type="text/javascript">
            $('input[name="fecha_inicio"]').mask('00/00/0000');
            $('input[name="fecha_fin"]').mask('00/00/0000');
        </script>

        <script type="text/javascript">
            $('input[name="fecha_inicio"]').dblclick(function() {
                $('input[name="fecha_inicio"]').datepicker('show');
            });
            $('input[name="fecha_inicio"]').click(function() {
                $('input[name="fecha_inicio"]').datepicker('hide');
            });
        </script>

        <script type="text/javascript">
            $('input[name="fecha_inicio"]').datepicker({
                format: "dd/mm/yyyy",
                todayBtn: "linked",
                maxViewMode: 3,
                autoclose: true,
                language: "es",
                daysOfWeekHighlighted: "0",
                clearBtn: true,
                todayHighlight: true,
                orientation: "bottom auto",
                container: "div.fecha_1"
            });
        </script>


        <script type="text/javascript">
            $('input[name="fecha_fin"]').dblclick(function() {
                $('input[name="fecha_fin"]').datepicker('show');
            });
            $('input[name="fecha_fin"]').click(function() {
                $('input[name="fecha_fin"]').datepicker('hide');
            });
        </script>

        <script type="text/javascript">
            $('input[name="fecha_fin"]').datepicker({
                format: "dd/mm/yyyy",
                todayBtn: "linked",
                maxViewMode: 3,
                autoclose: true,
                language: "es",
                daysOfWeekHighlighted: "0",
                clearBtn: true,
                todayHighlight: true,
                orientation: "bottom auto",
                container: "div.fecha_2"
            });
        </script>

        {% if messages %}
            {% for mensaje in messages %}
                <script type="text/javascript">
                    (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
                </script>
            {% endfor %}
        {% endif %}
    </main>
{% endblock %}