{% extends 'base.html' %}
{% load static %}
{% load material_form %}
{% block content %}
    <main id="movermain">
        <form action="" method="POST" class="viewform">
            {% csrf_token %}
            {% form form=form %}
                {% part form.indicaciones prefix %}<i class="material-icons prefix">content_paste</i>{% endpart %}
            {% endform %}
            <button class="btn btn-primary"  type="submit" name="action" >Agregar Receta
                <i class="material-icons right">send</i>
            </button>
        {% if  not diag %}
            <a class="btn btn-danger" href="{% url 'detallePlan' pk=view.kwargs.pt_id %}">Cancelar<i class="material-icons right">cancel</i></a>
        {% else %}
        <a class="btn btn-danger" href="{% url 'agenda_citas'%}">Finalizar Diagnostico<i class="material-icons right">cancel</i></a>
        {% endif %}
        </form>
        {% if messages %}
            {% for mensaje in messages %}
                <script type="text/javascript">
                    (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
                </script>
            {% endfor %}
        {% endif %}
    </main>
{% endblock %}