{% extends 'base.html' %}

{% load static %}
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}

{% block content %}
    <main id="movermain">
        <form action="" method="POST" class="viewform">
            {% csrf_token %}
            {% form form=form %}
                {% part form.fecha prefix %}<i class="material-icons prefix">date_range</i>{% endpart %}
                {% attr form.fecha 'group' class append %}fecha_1{% endattr %}
                {% attr form.fecha 'widget' autocomplete  append %}off{% endattr %}
                {% part form.hora_inicio prefix %}<i class="material-icons prefix">schedule</i>{% endpart %}
                {% part form.hora_fin prefix %}<i class="material-icons prefix">schedule</i>{% endpart %}
                {% part form.medico prefix %}<i class="material-icons prefix">person_pin</i>{% endpart %}
                {% attr form.medico 'widget' class append %}select-search{% endattr %}
                {% part form.plan_tratamiento prefix %}<i class="material-icons prefix">assignment</i>{% endpart %}
                {% attr form.plan_tratamiento 'widget' class append %}select-search{% endattr %}
            {% endform %}

            <button class="btn btn-primary"  type="submit" name="action" >Registrar
                <i class="material-icons right">send</i>
            </button>

        </form>

        <script type="text/javascript">
            $('input[name="fecha"]').mask('00/00/0000');
            $('input[name="hora_inicio"]').mask('00:00');
            $('input[name="hora_fin"]').mask('00:00');
        </script>

        {% if messages %}
            {% for mensaje in messages %}
                <script type="text/javascript">
                    (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
                </script>
            {% endfor %}
        {% endif %}

        <script type="text/javascript">
            $('input[name="fecha"]').dblclick(function() {
                $('input[name="fecha"]').datepicker('show');
            });
            $('input[name="fecha"]').click(function() {
                $('input[name="fecha"]').datepicker('hide');
            });
        </script>
        <script type="text/javascript">
            $('input[name="fecha"]').datepicker({
                format: "dd/mm/yyyy",
                todayBtn: "linked",
                maxViewMode: 3,
                autoclose: true,
                language: "es",
                daysOfWeekHighlighted: "0",
                clearBtn: true,
                todayHighlight: true,
                orientation: "bottom auto",
                container: "div.fecha_1"
            });
        </script>

        <script type="text/javascript">
            $('input[name="hora_inicio"]').dblclick(function() {
                $('input[name="hora_inicio"]').pickatime({
                    default: 'now', // Set default time: 'now', '1:30AM', '16:30'
                    fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
                    twelvehour: false, // Use AM/PM or 24-hour format
                    donetext: 'Aceptar', // text for done-button
                    cleartext: 'Limpiar', // text for clear-button
                    canceltext: 'Cancelar', // Text for cancel-button
                    autoclose: true, // automatic close timepicker
                    ampmclickable: true, // make AM PM clickable
                    aftershow: function(){} //Function for after opening timepicker
                });
            });
        </script>

        <script type="text/javascript">
            $('input[name="hora_fin"]').dblclick(function() {
                $('input[name="hora_fin"]').pickatime({
                    default: 'now', // Set default time: 'now', '1:30AM', '16:30'
                    fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
                    twelvehour: false, // Use AM/PM or 24-hour format
                    donetext: 'Aceptar', // text for done-button
                    cleartext: 'Limpiar', // text for clear-button
                    canceltext: 'Cancelar', // Text for cancel-button
                    autoclose: true, // automatic close timepicker
                    ampmclickable: true, // make AM PM clickable
                    aftershow: function(){} //Function for after opening timepicker
                });
            });
        </script>

        <script type="text/javascript">
            $(function(){
                // turn the element to select2 select style
                $('.select-search').select2();
            });
        </script>
    </main>
{% endblock %}