{% extends 'base.html' %}
{% load static %}
{% load material_form %}
{% block content %}
    <main id="movermain">
        <form action="" method="POST" class="viewform">
            {% csrf_token %}
            {% form form=form %}
                {% part form.cantidad prefix %}<i class="material-icons prefix">local_drink</i>{% endpart %}
                {% part form.dosis prefix %}<i class="material-icons prefix">colorize</i>{% endpart %}
                {% part form.medicamento prefix %}<i class="material-icons prefix">healing</i>{% endpart %}
            {% endform %}
            <button class="btn btn-primary"  type="submit" name="action" >Agregar Dosis
                <i class="material-icons right">send</i>
            </button>
            <a class="btn btn-danger" href="{% url 'detalleDosis' pk=view.kwargs.r_id %}">Cancelar<i class="material-icons right">cancel</i></a>
        </form>
        {% if messages %}
            {% for mensaje in messages %}
                <script type="text/javascript">
                    (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
                </script>
            {% endfor %}
        {% endif %}
    </main>
{% endblock %}