{% extends 'base.html' %}
{% load static %}
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}

{% block content %}
    <main id="movermain">
        <form action="" method="POST" class="viewform">
            {% csrf_token %}

            {% form form=lote_form %}
                {% part form.fecha_vencimiento prefix %} <i class="material-icons prefix">date_range</i>{% endpart %}
                {% attr form.fecha_vencimiento 'group' class append %}fecha_1{% endattr %}
                {% attr form.fecha_vencimiento 'widget' autocomplete  append %}off{% endattr %}
                {% part form.existencias prefix %}<i class="material-icons prefix">poll</i>{% endpart %}
            {% endform %}

            <button class="btn btn-primary"  type="submit" name="action" >Registrar
                <i class="material-icons right">send</i>
            </button>
            <a class="btn btn-danger" href="/medicamentos" type="submit">Regresar<i class="material-icons right">cancel</i></a>

        </form>

        <script type="text/javascript">
            $('input[name="lote-fecha_vencimiento"]').mask('00/00/0000');
        </script>

        <script type="text/javascript">
            $('input[name="lote-fecha_vencimiento"]').dblclick(function() {
                $('input[name="lote-fecha_vencimiento"]').datepicker('show');
            });
            $('input[name="lote-fecha_vencimiento"]').click(function() {
                $('input[name="lote-fecha_vencimiento"]').datepicker('hide');
            });
        </script>
        <script type="text/javascript">
            $('input[name="lote-fecha_vencimiento"]').datepicker({
                format: "dd/mm/yyyy",
                todayBtn: "linked",
                maxViewMode: 3,
                autoclose: true,
                language: "es",
                daysOfWeekHighlighted: "0",
                clearBtn: true,
                todayHighlight: true,
                orientation: "bottom auto",
                container: "div.fecha_1"
            });
        </script>

        <script type="text/javascript">
            (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
        </script>

    </main>
{% endblock %}>