{% extends 'base.html' %}
{% load static %}
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load l10n %}
{% load material_form %}
{% block content %}
    <main id="movermain">
        <form action="" method="post">{% csrf_token %}
            <div class="section row">
                <div class="col s12">
                    <h5>Modificar asignación de la Cita:</h5>
                </div>
            </div>
            <div class="layout-row row"><div class="col s12 m4">
                <div class="row">
                    <div class="input-field col s12 required fecha" id="id_fecha_container">
                        <i class="material-icons prefix">date_range</i><input autocomplete="off" data-date-format="d/m/Y" data-form-control="date" data-lang="es" id="id_fecha" name="fecha" type="text" value={{ object.fecha|date:"d/m/Y" }}>
                        <label class="active" for="id_fecha">Fecha</label>
                        <div class="help-block">Formato: DD/MM/AAAA</div>
                    </div>
                </div>
            </div><div class="col s12 m4">
                <div class="row">
                    <div class="input-field col s12 required" id="id_hora_inicio_container">
                        <i class="material-icons prefix">schedule</i><input {% if form.hora_inicio.errors %}class="invalid"{% endif %} autocomplete="false" data-date-format="H:i:s" data-form-control="time" data-lang="es" id="id_hora_inicio" name="hora_inicio" type="text" value={{ object.hora_inicio }}>
                        <label class="active" for="id_hora_inicio">Hora de Inicio</label>
                    </div>
                    <div class="errors">
                        <small class="error">{{ form.hora_inicio.errors }}</small>
                    </div>
                </div>
            </div><div class="col s12 m4">
                <div class="row">
                    <div class="input-field col s12 required" id="id_hora_fin_container">
                        <i class="material-icons prefix">schedule</i><input {% if form.hora_fin.errors %}class="invalid"{% endif %} autocomplete="false" data-date-format="H:i:s" data-form-control="time" data-lang="es" id="id_hora_fin" name="hora_fin" type="text" value={{ object.hora_fin }}>
                        <label class="active" for="id_hora_fin">Hora de Finalización</label>
                    </div>
                    <div class="errors">
                        <small class="error">{{ form.hora_fin.errors }}</small>
                    </div>

                </div>
            </div></div>
            <div class="layout-row row"><div class="col s12 m6">
                <div class="row">
                    <div class="select-field col s12 required" id="id_medico_container">
                        <i class="material-icons prefix">person_pin</i><label for="id_medico">Medico</label>
                        <select class="select-search" id="id_medico" name="medico">
                            {% for medico in medico_list %}
                                <option value={{ medico.0 }} {% if medico.0 == object.medico.id %}selected="selected"{% endif %}>{{ medico.1 }}</option>
                            {% endfor %}
                        </select>

                    </div>
                </div>
            </div><div class="col s12 m6">
                <div class="row">
                    <div class="select-field col s12" id="id_plan_tratamiento_container">
                        <i class="material-icons prefix">assignment</i><label for="id_plan_tratamiento">Plan tratamiento</label>
                        <select class="select-search" id="id_plan_tratamiento" name="plan_tratamiento">
                            {% if not object.plan %}
                                <option value="" selected="selected">Paciente Externo</option>
                            {% else %}
                                <option value="">Paciente Externo</option>
                            {% endif %}
                            {% for plan in plan_list %}
                                <option value={{ plan.0 }} {% if plan.0 == object.plan_tratamiento.id %}selected="selected"{% endif %}>{{ plan.1 }}</option>
                            {% endfor %}
                        </select>
                        <div class="help-block">Digite el Número de Expediente y escoja el Plan de Tratamiento deseado</div>
                    </div>
                </div>
            </div></div>
            <div class="section row">
                <div class="col s12">
                    <h5>Agregar precio:</h5>
                </div>
            </div>
            <div class="layout-row row">
                <div class="col s12 m6">
                    <div class="row">
                        <div class="select-field col s12 required" id="id_tipo_container">
                            <i class="material-icons prefix">chrome_reader_mode</i><label for="id_tipo">Tipo de Cobro</label>
                            <select id="id_tipo" name="tipo">
                                <option value=0>Sólo Consulta</option>
                                <option value=1>Sólo Examen</option>
                                <option value=2>Consulta y Examen</option>

                            </select>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="row">
                        <div class="select-field col s12 required" id="id_convenio_container">
                            <i class="material-icons prefix">chrome_reader_mode</i><label for="id_convenio">Convenio</label>
                            <p>
                                <label>
                                    <input type="checkbox" id="id_convenio" name="convenio" {% if object.convenio %}checked=checked{% endif %} style="width: 1.5rem;height: 1.5rem;position: relative;opacity: 100;"/>
                                    <span>¿Paciente con convenio?</span>
                                </label>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="layout-row row"><div class="col s12 m6">
                <div class="row">
                    <div class="select-field col s12 required" id="id_estado_container">
                        <i class="material-icons prefix">chrome_reader_mode</i><label for="id_estado">Estado de la Cita</label>
                        <select id="id_estado" name="estado">
                            {% for choice in cita_choices %}
                                <option value={{ choice.0 }} {% if choice.0 == object.estado %}selected="selected"{% endif %} {% if choice.0 == '3' and tarifa_consulta is not None %}id="{{ tarifa_consulta|stringformat:".2f" }}"{% endif %}>{{ choice.1 }}</option>
                            {% endfor %}
                        </select>

                    </div>
                </div>
            </div><div class="col s12 m6">
                <div class="row">
                    {% if object.precio_consulta %}
                        <div class="input-field col s12" id="id_precio_consulta_container">
                            <i class="material-icons prefix">monetization_on</i>
                            <input id="id_precio_consulta" name="precio_consulta" step="0.01" value={{ object.precio_consulta|stringformat:".2f" }}>
                            <label class="active" for="id_precio_consulta">Precio de la Consulta</label>
                        </div>
                    {% else %}
                        <div class="input-field col s12" id="id_precio_consulta_container">
                            <i class="material-icons prefix">monetization_on</i>
                            <input id="id_precio_consulta" name="precio_consulta" step="0.01" type="number">
                            <label for="id_precio_consulta">Precio de la Consulta</label>
                        </div>
                        </div>
                    {% endif %}

            </div>
            </div>


            <div class="layout-row row"><div class="col s12 m6">
                <div class="row">
                    <div class="select-field col s12" id="id_examen_container">
                        <i class="material-icons prefix">note_add</i>
                        <label for="id_examen">Examen</label>
                        <select id="id_examen" name="examen">

                            {% if not object.examen %}
                                <option value="" selected="selected">--------</option>
                            {% else %}
                                <option value="">--------</option>
                            {% endif %}
                            {% for examen in examen_tarifa %}
                                <option value={{ examen.id }} id={% if examen.monto %}"{{ examen.monto|stringformat:".2f" }}"{% else %}"0.00"{% endif %}{% if examen.id == object.examen.id %}selected="selected"{% endif %}>{{ examen.nombre }}</option>
                            {% endfor %}
                        </select>

                    </div>
                </div>
            </div>
                <div class="col s12 m6">
                    <div class="row">
                        {% if object.precio_examen %}
                            <div class="input-field col s12" id="id_precio_examen_container">
                                <i class="material-icons prefix">monetization_on</i><input id="id_precio_examen" name="precio_examen" step="0.01" value={{ object.precio_examen|stringformat:".2f" }}>
                                <label for="id_precio_examen" class="active">Precio del Examen</label>
                            </div>
                        {% else %}
                            <div class="input-field col s12" id="id_precio_examen_container">
                                <i class="material-icons prefix">monetization_on</i><input id="id_precio_examen" name="precio_examen" step="0.01" type="number">
                                <label for="id_precio_examen" class="">Precio del Examen</label>
                                {% if not socioeconomico %}
                                    <div class="help-block">Paciente sin estudio socioeconómico</div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <button class="btn btn-view"  type="submit" name="action" >Modificar
                <i class="material-icons right">send</i>
            </button>

            <a class="btn btn-primary" href={% url 'agenda_citas' %}>Cancelar
                <i class="material-icons right">cancel</i></a>

        </form>

        <script type="text/javascript">
            $('input[name="fecha"]').mask('00/00/0000');
            $('input[name="hora_inicio"]').mask('00:00');
            $('input[name="hora_fin"]').mask('00:00');
        </script>

        <script type="text/javascript">
            $('input[name="fecha"]').mask('00/00/0000');
        </script>
        <script type="text/javascript">
            $('input[name="fecha"]').dblclick(function() {
                $('input[name="fecha"]').datepicker('show');
            });
            $('input[name="fecha"]').click(function() {
                $('input[name="fecha"]').datepicker('hide');
            });
        </script>
        <script type="text/javascript">
            $('input[name="fecha"]').datepicker({
                format: "dd/mm/yyyy",
                todayBtn: "linked",
                maxViewMode: 3,
                autoclose: true,
                language: "es",
                daysOfWeekHighlighted: "0",
                clearBtn: true,
                todayHighlight: true,
                orientation: "bottom auto",
                container: "div.fecha"
            });
        </script>

        <script type="text/javascript">
            $('input[name="hora_inicio"]').dblclick(function() {
                $('input[name="hora_inicio"]').pickatime({
                    default: 'now', // Set default time: 'now', '1:30AM', '16:30'
                    fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
                    twelvehour: false, // Use AM/PM or 24-hour format
                    donetext: 'Aceptar', // text for done-button
                    cleartext: 'Limpiar', // text for clear-button
                    canceltext: 'Cancelar', // Text for cancel-button
                    autoclose: true, // automatic close timepicker
                    ampmclickable: true, // make AM PM clickable
                    aftershow: function(){} //Function for after opening timepicker
                });
            });
        </script>

        <script type="text/javascript">
            $('input[name="hora_fin"]').dblclick(function() {
                $('input[name="hora_fin"]').pickatime({
                    default: 'now', // Set default time: 'now', '1:30AM', '16:30'
                    fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
                    twelvehour: false, // Use AM/PM or 24-hour format
                    donetext: 'Aceptar', // text for done-button
                    cleartext: 'Limpiar', // text for clear-button
                    canceltext: 'Cancelar', // Text for cancel-button
                    autoclose: true, // automatic close timepicker
                    ampmclickable: true, // make AM PM clickable
                    aftershow: function(){} //Function for after opening timepicker
                });
            });
        </script>

        <script type="text/javascript">
            $(function(){
                // turn the element to select2 select style
                $('.select-search').select2();
            });
        </script>
        {% if not object.precio_examen %} <!-- Desactiva la Función para generar precio cuando el objeto Cita ya tiene uno previamente asignado -->
            <script type="text/javascript">
                $(function() {
                    $('#id_examen').change(function() {
                        var e = document.getElementById('id_examen');
                        var id = e.options[e.selectedIndex].id;
                        $('#id_precio_examen').val(id);
                        if(!$('label[for = "id_precio_examen"]').hasClass('active')){
                            $('label[for = "id_precio_examen"]').addClass('active');
                        }
                    }).change(); // Trigger the event
                });
            </script>
        {% endif %}

        {% if not object.precio_consulta %} <!-- Desactiva la Función para generar precio cuando el objeto Cita ya tiene uno previamente asignado -->
            <script type="text/javascript">
                $(function() {
                    $('#id_estado').change(function() {
                        var e = document.getElementById('id_estado');
                        var id = e.options[e.selectedIndex].id;
                        var tipo_cobro = document.getElementById('id_tipo');
                        if(tipo_cobro.selectedIndex != 1){
                            $('#id_precio_consulta').val(id);
                            if(!$('label[for = "id_precio_consulta"]').hasClass('active')){
                                $('label[for = "id_precio_consulta"]').addClass('active');
                            }
                        }
                    }).change(); // Trigger the event
                });
            </script>
        {% endif %}
        <script type="text/javascript">
            $(function() {
                $('#id_tipo').change(function() {
                    var e = document.getElementById('id_tipo');
                    var examen = document.getElementById('id_examen');
                    var precio_examen = document.getElementById('id_precio_examen');
                    var estado_consulta = document.getElementById('id_estado');
                    var precio_consulta = document.getElementById('id_precio_consulta');
                    // alert(e.selectedIndex);
                    if(e.selectedIndex == 0){
                        examen.disabled=true;
                        examen.selectedIndex=0;
                        precio_examen.disabled=true;
                        precio_examen.value='';
                        precio_consulta.disabled=false;
                    }
                    else{
                        if(e.selectedIndex == 1){
                            examen.disabled=false;
                            precio_examen.disabled=false;
                            precio_consulta.disabled=true;
                            precio_consulta.value='';

                        }
                        else{
                            examen.disabled=false;
                            precio_examen.disabled=false;
                            precio_consulta.disabled=false;
                        }
                    }
                }).change(); // Trigger the event
            });
        </script>

    </main>
{% endblock %}