{% extends 'base.html' %}
{% load static %}
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}
{% block content %}
    <main id="movermain">
        <form action="" method="post">{% csrf_token %}
            {% form form=form %}
                {% part form.fecha prefix %}<i class="material-icons prefix">date_range</i>{% endpart %}
                {% part form.nombre prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
                {% attr form.nombre 'widget' value%}
                    {% if object.plan_tratamiento %}
                        {{ object.plan_tratamiento.expediente.paciente.nombre }} {{ object.plan_tratamiento.expediente.paciente.apellido }}
                    {% else %}
                        Paciente Externo
                    {% endif %}
                {% endattr %}
                {% part form.edad prefix %}<i class="material-icons prefix">child_care</i>{% endpart %}
                {% attr form.edad 'widget' value%}
                    {% if object.plan_tratamiento %}
                        {{ object.get_edad }}
                    {% else %}
                        N/A
                    {% endif %}
                {% endattr %}
                {% part form.num_expediente prefix %}<i class="material-icons prefix">assignment_ind</i>{% endpart %}
                {% attr form.num_expediente 'widget' value%}
                    {% if object.plan_tratamiento %}
                        {{ object.plan_tratamiento.expediente.num_expediente }}
                    {% else %}
                        N/A
                    {% endif %}
                {% endattr %}
                {% part form.peso prefix %}<i class="material-icons prefix">poll</i>{% endpart %}
                {% part form.talla prefix %}<i class="material-icons prefix">poll</i>{% endpart %}
                {% part form.imc prefix %}<i class="material-icons prefix">poll</i>{% endpart %}
                {% part form.temp prefix %}<i class="material-icons prefix">opacity</i>{% endpart %}
                {% part form.fc prefix %}<i class="material-icons prefix">favorite</i>{% endpart %}
                {% part form.fr prefix %}<i class="material-icons prefix">poll</i>{% endpart %}
                {% part form.pa prefix %}<i class="material-icons prefix">loyalty</i>{% endpart %}
                {% part form.cx prefix %}<i class="material-icons prefix">poll</i>{% endpart %}
                {% part form.pe prefix %}<i class="material-icons prefix">poll</i>{% endpart %}
                {% part form.ef prefix %}<i class="material-icons prefix">poll</i>{% endpart %}
                {% part form.antecedente prefix %}<i class="material-icons prefix">poll</i>{% endpart %}
                {% part form.dx prefix %}<i class="material-icons prefix">opacity</i>{% endpart %}
                {% part form.plan prefix %}<i class="material-icons prefix">favorite</i>{% endpart %}
            {% endform %}

            <a class="btn btn-primary" href="javascript:history.back()">Regresar
                <i class="material-icons right">reply</i></a>

        </form>
    </main>
{% endblock %}
