{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main id="movermain">
        <form action="" method="post">{% csrf_token %}
            <p>¿Está seguro que desea eliminar la cita: "{{ object }}"?</p>

            <button class="btn btn-danger">Aceptar
                <i class="material-icons right">warning</i>
            </button>

            <a class="btn btn-primary" href={% url 'agenda_citas' %}>Cancelar
                <i class="material-icons right">cancel</i></a>
        </form>
    </main>
{% endblock %}