{% extends 'base.html' %}
{% load static %}
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}
{% block content %}
    <main id="movermain">
        <form action="" method="post">{% csrf_token %}
            {% form form=form %}
                {% part form.fecha prefix %}<i class="material-icons prefix">date_range</i>{% endpart %}
                {% part form.nombre prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
                {% attr form.nombre 'widget' value%}
                    {% if object.plan_tratamiento %}
                        {{ object.plan_tratamiento.expediente.paciente.nombre }} {{ object.plan_tratamiento.expediente.paciente.apellido }}
                    {% else %}
                        Paciente Externo
                    {% endif %}
                {% endattr %}
                {% part form.edad prefix %}<i class="material-icons prefix">child_care</i>{% endpart %}
                {% attr form.edad 'widget' value%}
                    {% if object.plan_tratamiento %}
                        {{ object.get_edad }}
                    {% else %}
                        N/A
                    {% endif %}
                {% endattr %}
                {% part form.num_expediente prefix %}<i class="material-icons prefix">assignment_ind</i>{% endpart %}
                {% attr form.num_expediente 'widget' value%}
                    {% if object.plan_tratamiento %}
                        {{ object.plan_tratamiento.expediente.num_expediente }}
                    {% else %}
                        N/A
                    {% endif %}
                {% endattr %}

                {% part form.peso prefix %}<i class="material-icons prefix">poll</i>{% endpart %}
                {% part form.talla prefix %}<i class="material-icons prefix">poll</i>{% endpart %}
                {% part form.imc prefix %}<i class="material-icons prefix">poll</i>{% endpart %}
            {% endform %}

            <button class="btn btn-view"  type="submit" name="action" >Registar
                <i class="material-icons right">send</i>
            </button>

            <a class="btn btn-primary" href={% url 'agenda_citas' %}>Cancelar
                <i class="material-icons right">cancel</i></a>

        </form>
        <script type="text/javascript">
            $('input[name="pa"]').mask('000/00');
        </script>
    </main>
{% endblock %}