{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main id="movermain" class="consulta-tabla">

        <table class="table table-striped table-bordered table-hover" data-toggle="bootgrid" id = "moverTabla">
            <thead>
            <tr>
                <th>Nombre del Medicamento</th>
                <th>Stock</th>
                {% if perms.control.delete_medicamento%}
                    <th>Disponible</th>
                {% endif %}
                {% if perms.control.change_medicamento%}
                    <th>Acciones</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for medicamentos in medicamentos_list %}
                <tr>
                    <td>{{medicamentos.nombre|title}}</td>
                    <td>{{medicamentos.stock}}</td>
                    {% if perms.control.delete_medicamento%}

                        {% if medicamentos.estado == '1' %}

                            <td><a class="btn btn-primary" href="/confirmar_desactivar_medicamento/{{medicamentos.id}}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></td>

                        {% elif medicamentos.estado == '0' %}
                            <td><a class="btn btn-danger" href="/confirmar_desactivar_medicamento/{{medicamentos.id}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>

                        {% endif %}
                    {% endif %}
                    {% if perms.control.change_medicamento%}
                        <td>
                        <a class="btn btn-primary" href="/actualizar_medicamento/{{medicamentos.id}}"><i class="material-icons">edit</i></a>
                    {% endif %}

                    {% if perms.control.add_lotemedicamento%}
                        <a class="btn btn-primary" href="/agregar_lotes/{{ medicamentos.id }}"><i class="material-icons">local_pharmacy</i></a>

                    {% endif %}
                    {% if perms.control.add_lotemedicamento%}

                        <a class="btn btn-primary" href="/lotes/{{ medicamentos.id }}"><i class="material-icons">assignment</i></a>
                        </td>

                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if messages %}
            {% for mensaje in messages %}
                <script type="text/javascript">
                    (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
                </script>
            {% endfor %}
        {% endif %}
    </main>
{%endblock%}