{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main id="movermain" class="consulta-tabla">

        <table class="table table-striped table-bordered table-hover" data-toggle="bootgrid" id = "moverTabla">
            <thead>
            <tr>
                <th>Nombre del Examen</th>
                {% if perms.control.delete_examen%}
                    <th>Disponible</th>
                {% endif %}
                {% if perms.control.change_examen%}
                    <th>Acciones</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for examenes in examenes_list %}
                <tr>
                    <td>{{examenes.nombre|title}}</td>
                    {% if perms.control.delete_examen%}
                        {% if examenes.estado == '1' %}
                            <td><a class="btn btn-primary" href="/confirmar_desactivar_examen/{{examenes.id}}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></td>
                        {% elif examenes.estado == '0' %}
                            <td><a class="btn btn-danger" href="/confirmar_desactivar_examen/{{examenes.id}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                        {% endif %}
                    {% endif %}
                    {% if perms.control.change_examen%}
                        <td>  <a class="btn btn-primary" href="/actualizar_examen/{{examenes.id}}"><i class="material-icons">edit</i></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if messages %}
            {% for mensaje in messages %}
                <script type="text/javascript">
                    (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
                </script>
            {% endfor %}
        {% endif %}

    </main>

{%endblock%}
