{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main id="movermain" class="consulta-tabla">
        <header>
            <div class="nav-wrapper">

            </div>
        </header>
        <table class="table table-striped table-bordered table-hover" data-toggle="bootgrid" id = "moverTabla">
            <thead>
            <tr>
                <th> Fecha Realizacion</th>
                <th>Fecha Lectura</th>
                <th>Tipo de Examen</th>
                {% if perms.control.change_resultado%}
                    <th>Vizualizar</th>
                {% endif %}
            </tr>
            </thead>

            <tbody>
            {% for resultados in resultados_lis %}
                <tr>
                    <td>{{resultados.fecha_lectura}}</td>
                    <td>{{resultados.fecha_realizacion}}</td>
                    <td>{{resultados.examen}}</td>

                    {% if perms.control.change_lotemedicamento%}
                        <td>
                            <a class="btn btn-primary" href="/detalle_resultado/{{resultados.id}}"><i class="material-icons">visibility</i></a>
                        </td>
                    {% endif %}
                </tr>

            {% endfor %}
            </tbody>
        </table>
        {% if messages %}
            {% for mensaje in messages %}
                <script type="text/javascript">
                    (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
                </script>
            {% endfor %}
        {% endif %}
    </main>

{%endblock%}


