{% extends 'base.html' %}
{% load static %}
{% load material_form %}
{% block content %}
    <main id="movermain" class="consulta-tabla">
        {% if recetas %}
            <table class="table table-striped table-bordered table-hover" data-toggle="bootgrid" id = "moverTabla">
                <thead>
                <tr>
                    <th>Fecha de prescripción</th>
                    <th>Indicaciones</th>
                    <th>Imprimir receta</th>
                </tr>
                </thead>
                <tbody>
                {% for r in recetas %}
                    <tr>
                        <td align="center">
                            <a href="{% url "detalleDosis" r.id %}">{{ r.fecha_prescripcion}}</a>
                        </td>
                        <td>-
                            {{ r.indicaciones }}
                        </td>
                        <td><a href="{% url "imprimir_receta" r.id %}">Imprimir</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p style="font-size: 25px"><b>No hay ninguna receta asignada a este plan</b></p>

        {% endif %}
        <br>
        <a class="btn btn-primary" href="{% url "agregarReceta" pt_id %}">Agregar Receta</a>
        <a class="btn btn-view" href="{% url 'expediente' pk=exp %}">Regresar<i class="material-icons right">reply</i></a>
    </main>
{% endblock %}