{% extends 'base.html' %}
{% load static %}
{% load material_form %}
{% block content %}
    <main id="movermain" class="consulta-tabla">
        {% if dosis %}
            <table class="table table-striped table-bordered table-hover" data-toggle="bootgrid" id = "moverTabla">
                <thead>
                <th>Medicamento</th>
                <th>Dosis</th>
                <th>Cantidad</th>
                </thead>
                <tbody>
                {% for d in dosis %}
                    <tr>
                        <td align="center">
                            {{ d.medicamento }}
                        </td>
                        <td align="center">
                            {{ d.dosis }}
                        </td>
                        <td align="center">
                            {{ d.cantidad }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>{% else %}
            <p style="font-size: 25px"><b>No hay dosis asignadas</b></p>
        {% endif %}
        <br>
        <a class="btn btn-primary" href="{% url "agregarDosis" r_id %}">Agregar Dosis</a>
        {% if user.empleado.especialidad %}
            <a class="btn btn-view" href="{% url 'agenda_citas' %}">Finalizar Diagnóstico<i class="material-icons right">reply</i></a>
        {% else %}
            <a class="btn btn-view" href="{% url 'detallePlan' pk=plan %}">Regresar<i class="material-icons right">reply</i></a>
        {% endif %}

    </main>
{% endblock %}