{% extends 'base.html' %}
{% load static %}
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}

{% block content %}
    <main id="movermain">
        <form method="post">
            {% csrf_token %}

            <h5> Detalle de Lectura de Resultado</h5>
            <p>  Lesctura de Examen :{{ object.lectura }}</p>
            <p>  Fecha de Realizacion :{{ object.fecha_realizacion }}</p>
            <p> Fecha de Lectura: {{ object.fecha_lectura }}</p>
            <p> Tipo de Examen: {{ object.examen }}</p>
            <p> Numero de Expediente: {{ object.expediente }}</p>

            <a class="btn btn-primary" href="/consulta_lectura/{{ object.expediente.id }}" type="submit">Regresar</a><a class="btn btn-primary" href="/consulta_lectura/{{ object.expediente.id }}" type="submit">Regresar
            <i class="material-icons right">reply</i></a>
        </form>

    </main>

{%endblock%}