{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Imprimir Receta</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap-glyphicons.css' %}">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
</head>

<body style="margin: 5rem;">
<center><img src="http://www.fundacionmpj.org/images/logo.png" alt="MPJ" width="150" height="170"></center>
<h1 style="font-family:Roboto;text-shadow: 1px 1px 0 pink,-1px -1px pink,1px -1px pink,-1px 1px pink,0 1px pink,1px 0 pink,-1px 0 pink,
                        0 -1px pink; ;color: #7e57c2"><center>Fundación Mensajeros Peregrinos con Jesus</center></h1>
<hr/>
<h2><center>Dr. {{ doctor }}</center></h2>
{% if doctor.especialidad %}<h3><center>{{ doctor.especialidad }}</center></h3>{% endif %}
<hr/>
<h4><center>Fecha: {{ fecha }}</center></h4>
<h4><center>Indicaciones</center></h4>
<p><center>{{ receta.indicaciones }}</center></p>
{% if dosis %}
    <table border="1" style="margin: 0px auto; width: 100%; text-align: center;">
        <thead>
        <tr>
            <th style="background-color:#204d74; color: white">Medicamento</th>
            <th style="background-color:#204d74; color: white">Dosis</th>
        </tr>
        </thead>
        <tbody>
        {% for d in dosis %}
            <tr>
                <td>{{ d.medicamento|title }}</td>
                <td>{{ d.dosis }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
{% endif %}
<br>
<hr/>
<br>
<h4><center>Dr: {{ doctor }}</center></h4>
<h4><center>Firma: ____________________</center></h4>

</body>
</html>