{% extends 'base.html' %}
{% load static %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}
{% block content %}
    <main id="movermain">
        <form action="" method="POST" class="viewform">
            {% csrf_token %}
            {% form form=form %}
                {% part form.fecha_fin prefix %}<i class="material-icons prefix">event</i>{% endpart %}
                {% part form.estado prefix %}<i class="material-icons prefix">offline_pin</i>{% endpart %}
                {% part form.descripcion prefix %}<i class="material-icons prefix">content_paste</i>{% endpart %}
            {% endform %}
            <button class="btn btn-view">Actualizar
                <i class="material-icons right">send</i>
            </button>
            <a class="btn btn-danger" href="{% url 'expediente' pk=view.kwargs.exp %}">Cancelar<i class="material-icons right">cancel</i></a>
        </form>
        <script type="text/javascript">
            $('input[name="fecha_fin"]').datepicker({
                format: "dd/mm/yyyy",
                todayBtn: "linked",
                maxViewMode: 3,
                autoclose: true,
                language: "es",
                daysOfWeekHighlighted: "0",
                clearBtn: true,
                todayHighlight: true

            });
        </script>
        {% if messages %}
            {% for mensaje in messages %}
                <script type="text/javascript">
                    (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
                </script>
            {% endfor %}
        {% endif %}
    </main>
{% endblock %}