{% extends 'base.html' %}
{% load static %}
{% load material_form %}

{% block content %}
    <main id="movermain" class="consulta-tabla">
        <table class="table table-striped table-bordered table-hover" data-toggle="bootgrid" id = "moverTabla">
            <thead>
            <tr>
                <th>Planes</th>
                <th>¿Actualizar?</th>
            </tr>
            </thead>
            <tbody>
            {% for p in planes %}
                <tr>
                    <td>
                        <a href="{{ p.get_absolute_url }}">
                            {{ p.fecha_inicio }}
                            {% if p.fecha_fin %}
                                al {{p.fecha_fin}}
                            {% else %}
                                - No hay fecha de fin
                            {% endif %} <br>
                            Indicaciones: {{p.descripcion}}
                        </a>
                    </td>
                    <td>
                        <a style="color: #e51c23" href="{% url "actualizarPlan" p.id %}">Actualizar plan</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table><br>
        {% if perms.administracion.add_paciente or perms.administracion.change_paciente %}
            <a class="btn btn-primary" href="/pacientes" >Regresar<i class="material-icons right">reply</i></a>
        {% else %}
            <a class="btn btn-primary" href="/agenda_citas" >Regresar<i class="material-icons right">reply</i></a>
        {% endif %}
        <a class="btn btn-primary" href="{% url "agregarPlan" expediente_id %}">Agregar plan de tratamiento</a>
    </main>
{% endblock %}
