{% extends 'base2.html' %}
{% load static %}
{% load material_form %}

{% block content %}

    <h1 id="lT"><b>Correo para Restablecer Contraseña enviado</b></h1>
    <p>
        Le hemos enviado a su correo electrónico las instrucciones para configurar su contraseña.

        Si usted no recibe el email, por favor asegúrese de haber ingresado la dirección de correo eléctrónico con la cual está registrado, y revise en la carpeta de correos spam.
    </p>
{% endblock %}



