{% extends 'base2.html' %}
{% load static %}
{% load material_form %}

{% block content %}
    <h1 id="lT"><b>¡Contraseña Restablecida!</b></h1>
    <a href="{% url 'mpj_login' %}">Iniciar Sesión</a>
{% endblock %}

