{% extends 'base2.html' %}
{% load static %}
{% load material_form %}

{% block content %}
    {% if validlink %}

        <h1 id="lT"><b>Ingresar nueva contraseña</b></h1>
        <p>

        </p>
        <form method="post">
            {% csrf_token %}

            <li>Su contraseña no puede asemejarse tanto a su otra información personal.</li>
            <li>Su contraseña debe contener al menos 8 caracteres.</li>
            <li>Su contraseña no puede ser una clave utilizada comunmente.</li>
            <li>Su contraseña no puede ser completamente numérica.</li>
            <p><br></p>

            {{ form.new.password1.errors }}
            <label for="id_new_password1">Nueva contraseña:</label>
            {{ form.new_password1 }}


            {{ form.new.password2.errors }}
            <label for="id_new_password1">Confirme la contraseña:</label>
            {{ form.new_password2 }}

            <button class="btn btn-primary" type="submit">Restablecer Contraseña</button>
        </form>

    {% else %}

        <h1 id="lT"><b>Enlace Invalido, Ya Caduco</b></h1>

    {% endif %}

{%endblock%}


