{% extends 'base2.html' %}
{% load static %}
{% load material_form %}

{% block content %}
    <h1 id="lT" ><b>Restablecimiento de Contraseña</b></h1>
    <p>
        ¿Olvidó su contraseña? Ingrese su dirección de correo electrónico abajo, y usted recibirá un correo con las intrucciones para configurar una contraseña nueva.
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Restablecer Contraseña</button>
    </form>
{% endblock %}



