{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fundacion MPJ</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
    <!-- Bootstrap y Materialize -->
    <link href="{% static 'css/fonts.css' %}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/multi-select.css' %}">
    <script defer type="text/javascript" src="{% static 'list/frontend.js' %}"></script>
    <script src="{% static 'list/jquery-2.1.1.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'materialize.min.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  />
    <link rel="stylesheet" href="{% static 'css/bootstrap-table.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table.js' %}"></script>


    <!-- Select2 -->
    <link rel="stylesheet" href={% static 'select2/select2.css'%}>
    <script src="{% static 'js/jquery1.10.2.min.js' %}"></script>
    <script src={% static 'select2/select2.js' %}></script>

    <!-- Compiled and minified JavaScript -->
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/jquery.mask.js' %}"></script>

    <!-- Bootstrap DatePicker -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datepicker.min.css' %}">
    <script  src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script  src="{% static 'js/bootstrap-datepicker.es.min.js' %}"></script>

    <!-- Bootstrap DateTable -->
    <script src={% static 'js/jquery.dataTables.min.js' %}></script>
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css' %}" />
    <script src="{% static 'js/dataTables.boostrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/buttons.dataTables.min.css' %}" />
    <script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'js/jszip.min.js' %}"></script>
    <script src="{% static 'js/pdfmake.min.js' %}"></script>
    <script src="{% static 'js/vfs_fonts.js' %}"></script>
    <script src="{% static 'js/buttons.html5.min.js' %}"></script>


    <!-- Js Personales -->
    <script src="{% static 'js/tabla.js' %}"></script>
    <script src="{% static 'js/expediente.js' %}"></script>
    <script  src={% static 'js/jquery.quicksearch.js' %}></script>

    <!-- Estilos Personales -->
    <link rel="stylesheet" href="{% static 'css/expediente.css' %}" />
    <link rel="stylesheet" href="{% static 'css/citas_medicas.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css.css' %}">


</head>
<body>
<aside >
    <ul id="slide-out"  class="side-nav fixed">
        <li><div class="userView">
            <div class="background">
                <img src="{% static 'imagenes/FondoMorado1.jpg' %}">
            </div>
            <img class="circle" src="{% static 'imagenes/logo.png' %}"></a>
            <span class="white-text name">MPJ</span></a>
            <span class="white-text email">Fundacion Mensajeros Peregrinos con Jesus</span></a>
        </div></li>

        <ul class="collapsible" data-collapsible="accordion" id="formato">
            {% if perms.administracion.add_paciente and perms.administracion.add_expediente and perms.administracion.add_responsable or perms.administracion.change_paciente or perms.administracion.delete_paciente%}
                <li><div class="divider"></div></li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">face</i>Pacientes</div>

                    {% if perms.administracion.add_paciente and perms.administracion.add_expediente and perms.administracion.add_responsable %}
                        <div class="collapsible-body"><span><a href="/agregar_paciente"><center>Agregar Paciente</center></a></span></div>
                    {% endif %}

                    {% if perms.administracion.change_paciente or perms.administracion.delete_paciente%}
                        <div class="collapsible-body"><span><a href="/pacientes"><center>Consultar Paciente</center></a></span></div>
                    {% endif %}
                </li>
            {% endif %}
            {% if perms.administracion.add_empleado or perms.administracion.change_empleado or perms.administracion.delete_empleado%}
                <li><div class="divider"></div></li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">contacts</i>Empleados</div>

                    {% if perms.administracion.add_empleado %}
                        <div class="collapsible-body"><span><a href="/agregar_empleado"><center>Agregar Empleado</center></a></span></div>
                    {% endif %}

                    {% if perms.administracion.change_empleado or perms.administracion.delete_empleado%}
                        <div class="collapsible-body"><span><a href="/empleados"><center>Consultar Empleados</center></a></span></div>
                    {% endif %}
                </li>
            {% endif %}


            {% if perms.auth.add_user or perms.auth.change_user or perms.auth.delete_user%}
                <li><div class="divider"></div></li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">supervisor_account</i>Usuarios</div>

                    {% if perms.auth.add_user %}
                        <div class="collapsible-body"><span><a href="/agregar_usuario"><center>Agregar Usuario</center></a></span></div>
                    {% endif %}

                    {% if perms.auth.change_user or perms.auth.delete_user%}
                        <div class="collapsible-body"><span><a href="/usuarios"><center>Consultar Usuarios</center></a></span></div>
                    {% endif %}

                </li>
            {% endif %}
            {% if perms.control.add_citamedica or perms.control.change_citamedica or perms.control.delete_cita_medica%}
                <li><div class="divider"></div></li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">today</i>Citas Médicas</div>

                    {% if perms.control.add_citamedica %}
                        <div class="collapsible-body"><span><a href="/agregar_cita"><center>Agregar Cita</center></a></span></div>
                    {% endif %}

                    {% if perms.control.add_citamedica or perms.control.change_citamedica or perms.control.delete_citamedica%}
                        <div class="collapsible-body"><span><a href="/agenda_citas"><center>Agenda de Citas</center></a></span></div>
                    {% endif %}

                </li>
            {% endif %}
            {% if perms.donaciones.add_donacion or perms.donaciones.change_donacion or perms.donaciones.delete_donacion or perms.control.add_donador or perms.control.change_donador or perms.control.delete_donador %}
                <li><div class="divider"></div></li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">favorite</i>Donaciones</div>

                    {% if perms.donaciones.add_donador %}
                        <div class="collapsible-body"><span><a href="/agregar_donadores"><center>Agregar Donador</center></a></span></div>
                    {% endif %}

                    {% if perms.donaciones.change_donador or perms.donaciones.delete_donador %}
                        <div class="collapsible-body"><span><a href="/donadores"><center>Consultar Donadores</center></a></span></div>
                    {% endif %}

                    {% if perms.donaciones.add_donacion %}
                        <div class="collapsible-body"><span><a href="/agregar_donacion"><center>Donación en Efectivo</center></a></span></div>
                    {% endif %}

                    {% if perms.donaciones.add_donacion %}
                        <div class="collapsible-body"><span><a href="/donar_bienmueble"><center>Donación de Bienes Muebles</center></a></span></div>
                    {% endif %}

                    {% if perms.donaciones.add_donacion %}
                        <div class="collapsible-body"><span><a href="/donar_medicamento"><center>Donación de Medicamentos</center></a></span></div>
                    {% endif %}

                    {% if perms.donaciones.change_donacion or perms.donaciones.delete_donacion %}
                        <div class="collapsible-body"><span><a href="/donaciones"><center>Consultar Donaciones</center></a></span></div>
                    {% endif %}
                </li>
            {% endif %}

        {% if perms.donaciones.add_procedimiento or perms.donaciones.change_procedimiento or perms.donaciones.delete_procedimiento %}
                <li><div class="divider"></div></li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">folder_shared</i>Procedimientos</div>

                    {% if perms.donaciones.add_procedimiento %}
                        <div class="collapsible-body"><span><a href="/agregar_procedimiento"><center>Agregar Entrada por Procedimiento</center></a></span></div>
                    {% endif %}

                    {% if perms.donaciones.change_procedimiento or perms.donaciones.delete_procedimiento %}
                        <div class="collapsible-body"><span><a href="/procedimientos"><center>Consultar Entradas</center></a></span></div>
                    {% endif %}

                </li>
            {% endif %}

            {% if perms.control.add_medicamento or perms.control.change_medicamento or perms.control.delete_medicamento%}
                <li><div class="divider"></div></li>
                <li>
                    <div  class="collapsible-header"><i class="material-icons">local_pharmacy</i>Medicamentos</div>

                    {% if perms.control.add_medicamento %}
                        <div class="collapsible-body"><span><a href="/agregar_medicamento"><center>Agregar Medicamento</center></a></span></div>
                    {% endif %}

                    {% if perms.control.change_medicamento or perms.control.delete_medicamento%}
                        <div class="collapsible-body"><span><a href="/medicamentos"><center>Consultar Medicamentos</center></a></span></div>
                    {% endif %}

                </li>
            {% endif %}

            {% if perms.donaciones.add_bienmueble or perms.donaciones.change_bienmueble or perms.donaciones.delete_bienmueble%}
                <li><div class="divider"></div></li>
                <li>
                    <div  class="collapsible-header"><i class="material-icons">event_seat</i>Bienes Muebles</div>

                    {% if perms.donaciones.add_bienmueble %}
                        <div class="collapsible-body"><span><a href="/agregar_bien_mueble"><center>Agregar Bien Mueble</center></a></span></div>
                    {% endif %}

                    {% if perms.donaciones.change_bienmueble or perms.donaciones.delete_bienmueble %}
                        <div class="collapsible-body"><span><a href="/bien_muebles"><center>Consultar Bienes Muebles</center></a></span></div>
                    {% endif %}

                </li>
            {% endif %}

            {% if perms.administracion.add_grupoapoyo or perms.administracion.change_grupoapoyo or perms.administracion.delete_grupoapoyo or perms.administracion.add_participante or perms.administracion.change_participante or perms.administracion.delete_participante %}
                <li><div class="divider"></div></li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">group_work</i>Grupos de Apoyo</div>

                    {% if perms.administracion.add_participante %}
                        <div class="collapsible-body"><span><a href="/agregar_participante"><center>Agregar Participante</center></a></span></div>
                    {% endif %}

                    {% if perms.administracion.change_participante or perms.administracion.delete_participante %}
                        <div class="collapsible-body"><span><a href="/participantes"><center>Consultar Participantes</center></a></span></div>
                    {% endif %}

                    {% if perms.administracion.add_ponente %}
                        <div class="collapsible-body"><span><a href="/agregar_ponente"><center>Agregar Ponente</center></a></span></div>
                    {% endif %}

                    {% if perms.administracion.change_ponente or perms.administracion.delete_ponente %}
                        <div class="collapsible-body"><span><a href="/ponentes"><center>Consultar Ponentes</center></a></span></div>
                    {% endif %}

                    {% if perms.administracion.add_grupoapoyo %}
                        <div class="collapsible-body"><span><a href="/agregar_grupo"><center>Agregar Grupo de Apoyo</center></a></span></div>
                    {% endif %}

                    {% if perms.administracion.change_grupoapoyo or perms.administracion.delete_grupoapoyo %}
                        <div class="collapsible-body"><span><a href="/grupos_apoyo"><center>Consultar Grupos de Apoyo</center></a></span></div>
                    {% endif %}

                </li>
            {% endif %}
            {% if perms.control.add_examen or perms.control.change_examen or perms.control.delete_examen%}
                <li><div class="divider"></div></li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">storage</i>Examenes</div>

                    {% if perms.control.add_examen %}
                        <div class="collapsible-body"><span><a href="/agregar_examen"><center>Agregar Examenes</center></a></span></div>
                    {% endif %}

                    {% if perms.control.change_examen or perms.control.delete_examen%}
                        <div class="collapsible-body"><span><a href="/examenes"><center>Consultar Examenes</center></a></span></div>
                    {% endif %}

                    {% if perms.administracion.add_tarifa %}
                        <div class="collapsible-body"><span><a href="/agregar_tarifa2"><center>Agregar Tarifas</center></a></span></div>
                    {% endif %}

                    {% if perms.administracion.change_tarifa or perms.administracion.delete_tarifa%}
                        <div class="collapsible-body"><span><a href="/tarifas2"><center>Consultar Tarifas</center></a></span></div>
                    {% endif %}

                </li>
            {% endif %}
            {% if perms.administracion.add_tarifa or perms.administracion.change_tarifa or perms.administracion.delete_tarifa %}
                <li><div class="divider"></div></li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">attach_money</i>Tarifas</div>

                    {% if perms.administracion.add_tarifa %}
                        <div class="collapsible-body"><span><a href="/agregar_tarifa1"><center>Agregar Tarifa</center></a></span></div>
                    {% endif %}

                    {% if perms.administracion.change_tarifa or perms.administracion.delete_tarifa %}
                        <div class="collapsible-body"><span><a href="/tarifas1"><center>Consultar Tarifas</center></a></span></div>
                    {% endif %}

                </li>
            {% endif %}

            {% if perms.administracion.add_servicio or perms.administracion.change_servicio or perms.administracion.delete_servicio %}
                <li><div class="divider"></div></li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">work</i>Servicios</div>

                    {% if perms.administracion.add_servicio %}
                        <div class="collapsible-body"><span><a href="/agregar_servicio"><center>Agregar Servicio</center></a></span></div>
                    {% endif %}

                    {% if perms.administracion.change_servicio or perms.administracion.delete_servicio%}
                        <div class="collapsible-body"><span><a href="/servicios"><center>Consultar Servicios</center></a></span></div>
                    {% endif %}

                </li>
            {% endif %}

            {% if perms.administracion.add_tarifa or perms.administracion.change_tarifa or perms.administracion.delete_tarifa %}
                <li><div class="divider"></div></li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">folder_shared</i>Especialidades</div>

                    {% if perms.administracion.add_tarifa %}
                        <div class="collapsible-body"><span><a href="/agregar_especialidad"><center>Agregar Especialidad</center></a></span></div>
                    {% endif %}

                    {% if perms.administracion.change_tarifa or perms.administracion.delete_tarifa %}
                        <div class="collapsible-body"><span><a href="/especialidad"><center>Consultar Especialidad</center></a></span></div>
                    {% endif %}

                </li>
            {% endif %}

            {% if perms.control.change_dosis %}
                <li><div class="divider"></div></li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">print</i>Reportes</div>
                    <div class="collapsible-body"><span><a href="/reportes"><center>Generar Reportes</center></a></span></div>
                </li>
            {% endif %}

              {% if perms.donaciones.add_salida %}
                <li><div class="divider"></div></li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">assignment</i>Salidas</div>
                    <div class="collapsible-body"><span><a href="/salida_efectivo"><center>Salidas de Efectivo</center></a></span></div>
                    <div class="collapsible-body"><span><a href="/salida_bienmueble"><center>Salidas de Bien Mueble</center></a></span></div>
                    <div class="collapsible-body"><span><a href="{% url 'salida_medicamentos' %}"><center>Salidas de Medicamentos</center></a></span></div>
                </li>
            {% endif %}

            <li>
            <li><a href="/logout"><i class="material-icons">arrow_back</i>Cerrar Sesion</a></li>
            </li>
        </ul>
    </ul>

</aside>



<nav id="moverNav">
    <div class="nav-wrapper">

        <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right">
            <li>

                <!-- Para nombre de logeado-->
                <p>{{ user.get_full_name}}</p>

            </li>
            <li><a href="/base">Inicio</a></li>
            <li> <a href="/cuenta">Cuenta</a></li>
            <li><a href="{% url 'mpj_logout' %}"><i class="material-icons right">exit_to_app</i>Cerrar Sesion</a></li>

        </ul>
    </div>
</nav>
{% block content %}
    <main id="movermain" >
        <div class="row">
            <div class="col s12 m6" >
                <div class="card" >
                    <div  class="card-image waves-effect waves-block waves-purple">
                        <img class="activator"  src="{% static 'imagenes/card.jpg' %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">¿Quiénes Somos?<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Historia<i class="material-icons right">close</i></span>
                        <p>La Fundación Mensajeros y Peregrinos con Jesús (Fundación MPJ)</p><p style="text-align: justify">Está legalmente constituida según decreto ejecutivo número 121, publicado en el Diario Oficial, Tomo 398 numero 13 de fecha 21 de enero de dos mil trece, declarando legalmente establecida, aprobando sus estatutos y confiriendo el carácter de persona jurídica. </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6" id="estilo">
                <div class="card" >
                    <div  class="card-image waves-effect waves-block waves-purple">
                        <img class="activator"  src="{% static 'imagenes/medicos2.png' %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Quienes la conforman<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Comités de Apoyo<i class="material-icons right">close</i></span>
                        <p>-Comité de Educación</p>
                        <p>-Comité de Comunicación</p>
                        <p>-Comité de Donaciones</p>
                        <p>-Comité de Salud
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card" >
                    <div  class="card-image waves-effect waves-block waves-purple">
                        <img class="activator"  src="{% static 'imagenes/grupo.jpg' %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Grupos de Apoyo<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Reuniones<i class="material-icons right">close</i></span>
                        <p style="text-align: justify;">
                            Cada último sábado del mes se realizan reuniones con grupo de apoyo, en la que participan pacientes que sufren de epilepsia y sus familiares.

                            Estamos de 3:00 p.m. a 5:00 p.m. en el Parque El Talapo, ubicado al costado sur del Estadio Cuscatlán.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>

{%endblock%}


</body>

</html>
