{% load static %}
<!DOCTYPE html>
<html lang="es" id="colorF">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fundacion Mensajeros Peregrino con Jesus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" rel="stylesheet" href="{% static 'materialize.min.css' %}"  />
    <link type="text/css" rel="stylesheet" href="{% static 'materialize.css' %}"  />
    <link rel="stylesheet" TYPE="text/css" HREF="{% static 'css.css' %}">
</head>
<body >

<div >
    <div class="container">
        <div  class="card-panel card-image hoverable container" style="background-color: #F0F3F4  " >
            {% block content %}

            {%endblock%}
        </div>
    </div>
</div>

</body>

</html>