{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main id="movermain">
        <form action="" method="post">{% csrf_token %}
            <p>¿Esta Seguro Que Desea Eliminar El Usuario "{{ object }}"?</p>
            <button class="btn btn-danger">Aceptar
                <i class="material-icons right">warning</i>
            </button>
            <a class="btn btn-primary" href="/usuarios/">Cancelar<i class="material-icons right">cancel</i></a>
        </form>
    </main>
{% endblock %}