{% extends 'base.html' %}
{% load static %}

{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}

{% block content %}
    <main id="movermain">
        <form action="" method="post">{% csrf_token %}
            {% form form=form %}
                {% part form.first_name prefix %}<i class="material-icons prefix">account_circle</i>{% endpart %}
                {% attr form.first_name 'widget' style  append %}text-transform: capitalize;{% endattr %}
                {% part form.last_name prefix %}<i class="material-icons prefix">account_circle</i>{% endpart %}
                {% attr form.last_name 'widget' style  append %}text-transform: capitalize;{% endattr %}
                {% part form.email prefix %}<i class="material-icons prefix">email</i>{% endpart %}
            {% endform %}
            <button class="btn btn-view">Actualizar
                <i class="material-icons right">send</i>
            </button>
            <a class="btn btn-danger" href="/usuarios/">Cancelar<i class="material-icons right">cancel</i></a>
        </form>
    </main>
{% endblock %}