<html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main id="movermain">
        <div><b style="font-size: 22px;">Actualizar Lote Bien Mueble</b></div>
        <form class="col s12" method="post">
            {% csrf_token %}
            <div class="input-field col s6">
                <input id="existencias" type="number"  name="existencias" value="{{ existencias }}" min="0" >
                <label for="exitencias">Existencias:</label>
            </div>
            <button class="btn btn-primary"  type="submit" name="action" href="/actualizar_lote_mueble/{{lote_mueble_id}}">Aceptar
                <i class="material-icons right">send</i>
            </button>
            <a class="btn btn-danger" href="/lotes_bienes_muebles/{{ bien_mueble }}" type="submit">Cancelar <i class="material-icons right">cancel</i></a>
        </form>
        <script type="text/javascript">
            (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
        </script>
    </main>
{%endblock%}