{% extends 'base.html' %}
{% load static %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}

{% block content %}
    <main id="movermain">
        <form action="" method="POST" class="viewform">
            {% csrf_token %}

            {% form form=lote_form %}
                {% part form.medicamento prefix %}<i class="material-icons prefix">event_seat</i>{% endpart %}
                {% part form.fecha_vencimiento prefix %}<i class="material-icons prefix">date_range</i>{% endpart %}
                {% attr form.fecha_vencimiento 'group' class append %}fecha_1{% endattr %}
                {% attr form.fecha_vencimiento 'widget' autocomplete  append %}off{% endattr %}

            {% endform %}

            {% form form=donacion_form %}
                {% part form.donador prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
                {% part form.fecha_ingreso prefix %}<i class="material-icons prefix">date_range</i>{% endpart %}
                {% part form.cantidad prefix %}<i class="material-icons prefix">shopping_basket</i>{% endpart %}
                {% part form.descripcion prefix %}<i class="material-icons prefix">reorder</i>{% endpart %}
                {% part form.comprobante prefix %}<i class="material-icons prefix"></i>{% endpart %}
            {% endform %}


            <button class="btn btn-primary"  type="submit" name="action" >Registrar
                <i class="material-icons right">send</i>
            </button>

        </form>

        <script type="text/javascript">
            (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
        </script>

        <script type="text/javascript">
            $('input[name="lote_donacion-fecha_vencimiento"]').mask('00/00/0000');
        </script>
         <script type="text/javascript">
            $('input[name="lote_donacion-fecha_vencimiento"]').dblclick(function() {
                $('input[name="lote_donacion-fecha_vencimiento"]').datepicker('show');
            });
            $('input[name="lote_donacion-fecha_vencimiento"]').click(function() {
                $('input[name="lote_donacion-fecha_vencimiento"]').datepicker('hide');
            });
        </script>
        <script type="text/javascript">
            $('input[name="lote_donacion-fecha_vencimiento"]').datepicker({
                format: "dd/mm/yyyy",
                todayBtn: "linked",
                maxViewMode: 3,
                autoclose: true,
                language: "es",
                daysOfWeekHighlighted: "0",
                clearBtn: true,
                todayHighlight: true,
                orientation: "bottom auto",
                container: "div.fecha_1"
            });
        </script>


    </main>
{% endblock %}