{% extends 'base.html' %}
{% load static %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}

{% block content %}
    <main id="movermain">
        <form action="" method="POST" class="viewform">
            {% csrf_token %}

            {% form form=mueble_form %}
                {% part form.bien_mueble prefix %}<i class="material-icons prefix">event_seat</i>{% endpart %}

            {% endform %}

            {% form form=donarmueble_form %}
                {% part form.donador prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
                {% part form.fecha_ingreso prefix %}<i class="material-icons prefix">date_range</i>{% endpart %}
                {% part form.cantidad prefix %}<i class="material-icons prefix">shopping_basket</i>{% endpart %}
                {% part form.descripcion prefix %}<i class="material-icons prefix">reorder</i>{% endpart %}
                {% part form.comprobante prefix %}<i class="material-icons prefix"></i>{% endpart %}
            {% endform %}


            <button class="btn btn-primary"  type="submit" name="action" >Registrar
                <i class="material-icons right">send</i>
            </button>

        </form>

        <script type="text/javascript">
            (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
        </script>
    </main>
{% endblock %}