{% extends 'base.html' %}
{% load static %}
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}

{% block content %}
    <main id="movermain">
        <form action="" method="POST" class="viewform">
            {% csrf_token %}

            {% form form=lote_mueble_form %}
                {% part form.existencias prefix %}<i class="material-icons prefix">shopping_basket</i>{% endpart %}
            {% endform %}

            <button class="btn btn-primary"  type="submit" name="action" >Registrar
                <i class="material-icons right">send</i>
            </button>
            <a class="btn btn-danger" href="/bien_muebles" type="submit">Regresar<i class="material-icons right">cancel</i></a>

        </form>

        <script type="text/javascript">
            (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
        </script>


    </main>
{% endblock %}