{% extends 'base.html' %}
{% load static %}
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}

{% block content %}
    <main id="movermain">
        <form action="" method="POST" class="viewform">
            {% csrf_token %}

            {% form form=donadores_form %}
                {% part form.nombre prefix %} <i class="material-icons prefix">account_box</i>{% endpart %}
                {% attr form.nombre 'widget' style  append %}text-transform: capitalize;{% endattr %}
                {% part form.apellido prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
                {% attr form.apellido 'widget' style  append %}text-transform: capitalize;{% endattr %}
                {% part form.telefono prefix %}<i class="material-icons prefix">call</i>{% endpart %}
                {% part form.email prefix %}<i class="material-icons prefix">email</i>{% endpart %}
                {% part form.nit prefix %}<i class="material-icons prefix">assignment</i>{% endpart %}
            {% endform %}

            {% form form=institucion_form %}
                {% part form.nombre_institucion prefix %} <i class="material-icons prefix">account_box</i>{% endpart %}
                {% attr form.nombre_institucion 'widget' style  append %}text-transform: capitalize;{% endattr %}
                {% part form.direccion prefix %}<i class="material-icons prefix">home</i>{% endpart %}
                {% part form.telefono_institucion prefix %}<i class="material-icons prefix">call</i>{% endpart %}
                {% part form.nit_institucion prefix %}<i class="material-icons prefix">assignment</i>{% endpart %}
            {% endform %}


            <button class="btn btn-primary"  type="submit" name="action" >Registrar
                <i class="material-icons right">send</i>
            </button>
        </form>

        <script type="text/javascript">

            $('input[name="donador-telefono"]').mask('0000-0000');
            $('input[name="institucion-telefono_institucion"]').mask('0000-0000');
            $('input[name="donador-nit"]').mask('0000-000000-000-0');
            $('input[name="institucion-nit_institucion"]').mask('0000-000000-000-0');
        </script>

        <script type="text/javascript">
            (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
        </script>

    </main>
{% endblock %}