{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main id="movermain" class="consulta-tabla">
        <header>

        </header>
        <table class="table table-striped table-bordered table-hover" data-toggle="bootgrid" id = "moverTabla">
            <thead>
            <tr>
                <th>No. Expediente - Paciente</th>
                <th>Monto</th>
                <th>Descripción del Procedimiento</th>

                {% if perms.donaciones.change_procedimiento and not vista_paciente%}
                    <th>Acciones</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for procedimientos in procedimientos_list %}
                <tr>
                    <td>{{procedimientos.paciente}}</td>
                    <td>{{procedimientos.monto}}</td>
                    <td>{{procedimientos.descripcion}}</td>

                    {% if perms.donaciones.change_procedimientos and not vista_paciente%}
                        <td>
                        <a class="btn btn-primary" href="/actualizar_procedimiento/{{procedimientos.id}}"><i class="material-icons">edit</i></a>
                    {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if messages %}
            {% for mensaje in messages %}
                <script type="text/javascript">
                    (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
                </script>
            {% endfor %}
        {% endif %}

    </main>

{%endblock%}