{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <main id="movermain" class="consulta-tabla">
        <header>

        </header>
        <table class="table table-striped table-bordered table-hover" data-toggle="bootgrid" id = "moverTabla">
            <thead>
            <tr>
                <th>Fecha de Donación</th>
                <th>Donador</th>
                <th>Tipo</th>
                <th>Monto/Cantidad</th>
                <th>Estado</th>
                <th>Comprobante</th>
                {% if perms.donaciones.change_donacion%}
                    <th>Detallar</th>
                {% endif %}
            </tr>
            </thead>

            <tbody>
            {% for donaciones in donaciones_list %}
                <tr>
                    <td>{{donaciones.fecha_ingreso}}</td>
                    <td>{{donaciones.donador}}</td>
                    <td style="text-align: left;">{% if donaciones.lote_bienmueble %}
                        {% if perms.donaciones.change_lotebienmueble %}
                            <i class="material-icons">event_seat</i> <a href="{% url 'consultarLoteMuebles' donaciones.lote_bienmueble.bien_mueble.id %}">{{ donaciones.lote_bienmueble.bien_mueble|title }}</a>
                        {% else %}
                            <i class="material-icons">event_seat</i> {{ donaciones.lote_bienmueble.bien_mueble }}
                        {% endif %}
                    {% elif donaciones.lote_medicamento %}
                        {% if perms.donaciones.change_medicamento %}
                            <i class="material-icons">local_pharmacy</i> <a href="{% url 'consultarLotes' donaciones.lote_medicamento.medicamento.id %}">{{ donaciones.lote_medicamento.medicamento|title }}</a>
                        {% else %}
                            <i class="material-icons">local_pharmacy</i> {{ donaciones.lote_medicamento.medicamento }}
                        {% endif %}
                    {% else %}
                        <i class="material-icons">attach_money</i> Efectivo
                    {% endif %}</td>
                    {% if donaciones.lote_bienmueble %}
                        <td>{{donaciones.monto_inicial}} unidades</td>
                    {% elif donaciones.lote_medicamento %}
                        <td>{{donaciones.monto_inicial}} unidades</td>
                    {% else %}
                        <td>$ {{donaciones.monto_inicial|floatformat:2}}</td>
                    {% endif %}

                    {% if donaciones.lote_bienmueble %}
                        <td>No Aplica</td>
                    {% elif donaciones.lote_medicamento %}
                        <td>No Aplica</td>
                    {% else %}
                        {% if donaciones.fecha_remesa %}
                            <td> Remesado </td>
                        {% else %}
                            <td>Sin Remesar</td>
                        {% endif %}
                    {% endif %}

                    {% if donaciones.comprobante %}
                            <td> Solicitado </td>
                        {% else %}
                            <td>No Solicitado</td>
                        {% endif %}

                    {% if perms.donaciones.change_donacion%}
                        <td>
                            {% if donaciones.lote_bienmueble_id != null %}
                                <a class="btn btn-primary" href="/donaciones/{{donaciones.id}}"><i class="material-icons">edit</i></a>

                            {% elif donaciones.lote_medicamento_id == null and donaciones.lote_bienmueble_id == null %}
                                <a class="btn btn-primary" href="/actualizar_donacion/{{donaciones.id}}"><i class="material-icons">edit</i></a>

                            {% else%}
                                 <a class="btn btn-primary" href="/donaciones_lote/{{donaciones.id}}"><i class="material-icons">edit</i></a>

                            {% endif %}

                        </td>
                    {% endif %}

                </tr>

            {% endfor %}
            </tbody>
        </table>
        {% if messages %}
            {% for mensaje in messages %}
                <script type="text/javascript">
                    (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
                </script>
            {% endfor %}
        {% endif %}

        {% if mensaje %}
            <script type="text/javascript">
                (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
            </script>
        {% endif %}
    </main>

{%endblock%}


