{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main id="movermain" class="consulta-tabla">
        <header>

        </header>
        <table class="table table-striped table-bordered table-hover" data-toggle="bootgrid" id = "moverTabla">
            <thead>
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Telefono</th>
                <th>Correo Electronico</th>
                <th>Institucion</th>
                {% if perms.donaciones.delete_donador%}
                    <th>Activo</th>
                {% endif %}

                {% if perms.donaciones.change_donador%}
                    <th>Gestionar</th>
                {% endif %}
            </tr>
            </thead>

            <tbody>
            {% for donador in donadores_list %}
                <tr>
                    <td>{{donador.nombre|title}}</td>
                    <td>{{donador.apellido|title}}</td>
                    <td>{{donador.telefono}}</td>
                    {% if donador.email is not None %}
                        <td>{{donador.email}}</td>
                    {% elif donador.email  is None  %}
                        <td>No Posee</td>
                    {% endif %}
                    {% if donador.institucion is not None %}
                        <td>{{donador.institucion.nombre_institucion|title}}</td>
                    {% elif donador.institucion  is None  %}
                        <td>Donador Indepediente</td>
                    {% endif %}
                    {% if perms.donaciones.delete_donador%}
                        {% if donador.activo %}
                            <td style="text-align:center"><a class="btn btn-primary" href="/confirmar_desactivar/{{donador.id}}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></td>
                        {% elif not donador.activo %}
                            <td><a class="btn btn-danger" href="/confirmar_desactivar/{{donador.id}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                        {% endif %}
                    {% endif %}
                    {% if perms.donaciones.change_donador%}
                        <td>
                            <a class="btn btn-primary" href="/actualizar_donadores/{{donador.id}}"><i class="material-icons">edit</i></a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if messages %}
            {% for mensaje in messages %}
                <script type="text/javascript">
                    (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
                </script>
            {% endfor %}
        {% endif %}

        {% if mensaje %}
            <script type="text/javascript">
                (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
            </script>
        {% endif %}
    </main>

{%endblock%}
