{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main id="movermain" class="consulta-tabla">
        <header>

        </header>
        <table class="table table-striped table-bordered table-hover" data-toggle="bootgrid" id = "moverTabla">
            <thead>
            <tr>
                <th>Nombre del Bien Mueble</th>
                <th>Stock</th>
                {% if perms.donaciones.delete_bien_mueble%}
                    <th>Disponible</th>
                {% endif %}
                {% if perms.donaciones.change_bien_mueble%}
                    <th>Acciones</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for bien_muebles in bien_muebles_list %}
                <tr>
                    <td>{{bien_muebles.nombre|title}}</td>
                    <td>{{bien_muebles.stock}}</td>
                    {% if perms.donaciones.delete_bien_mueble%}

                        {% if bien_muebles.estado == '1' %}

                            <td><a class="btn btn-primary" href="/confirmar_desactivar_bien_mueble/{{bien_muebles.id}}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></td>

                        {% elif bien_muebles.estado == '0' %}
                            <td><a class="btn btn-danger" href="/confirmar_desactivar_bien_mueble/{{bien_muebles.id}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>

                        {% endif %}
                    {% endif %}
                    {% if perms.donaciones.change_bien_mueble%}
                        <td>
                        <a class="btn btn-primary" href="/actualizar_bien_mueble/{{bien_muebles.id}}"><i class="material-icons">edit</i></a>
                    {% endif %}

                    {% if perms.donaciones.add_lotebien_mueble%}
                        <a class="btn btn-primary" href="/agregar_lote_mueble/{{ bien_muebles.id }}"><i class="material-icons">local_pharmacy</i></a>

                    {% endif %}
                    {% if perms.donaciones.add_lotebien_mueble%}

                        <a class="btn btn-primary" href="/lotes_bienes_muebles/{{ bien_muebles.id }}"><i class="material-icons">assignment</i></a>
                        </td>

                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if messages %}
            {% for mensaje in messages %}
                <script type="text/javascript">
                    (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
                </script>
            {% endfor %}
        {% endif %}

    </main>

{%endblock%}