{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main id="movermain" class="consulta-tabla">
        <header>
            <div class="nav-wrapper">

            </div>
        </header>
        <table class="table table-striped table-bordered table-hover" data-toggle="bootgrid" id = "moverTabla">
            <thead>
            <tr>
                <th>Fecha de Ingreso</th>
                <th>Bien Mueble</th>
                <th>Existencia</th>


                {% if perms.donaciones.change_lotebienmueble%}
                    <th>Modificar</th>
                {% endif %}
            </tr>
            </thead>

            <tbody>
            {% for lote_muebles in lote_muebles_list %}
                <tr>
                    <td>{{lote_muebles.fecha_ingreso}}</td>
                    <td>{{lote_muebles.bien_mueble|title}}</td>
                    <td>{{lote_muebles.existencias}}</td>

                    {% if perms.donaciones.change_lotebienmueble%}
                        <td>
                            <a class="btn btn-primary" href="/actualizar_lote_mueble/{{lote_muebles.id}}"><i class="material-icons">edit</i></a>
                        </td>
                    {% endif %}
                </tr>

            {% endfor %}
            </tbody>
        </table>
        <br>
        <a class="btn btn-primary" href="javascript:history.back()" >Regresar
            <i class="material-icons right">reply</i></a>
        {% if messages %}
            {% for mensaje in messages %}
                <script type="text/javascript">
                    (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
                </script>
            {% endfor %}
        {% endif %}
    </main>

{%endblock%}

