{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main id="movermain">
        <form method="post">
            {% csrf_token %}
            {% if mensaje == "activar" %}
                <input type="hidden"  name="mensaje" readonly="readonly" value="activar">
            {% elif not donador.activo %}
                <input type="hidden"  name="mensaje" readonly="readonly" value="desactivar">
            {% endif %}
            <span>Realmente desea </span>
            <label value="{{ mensaje }}">{{ mensaje }}</label>
            <span> el Donador: </span>
            <p> </p>
            <label style="font-size: 18px" for=""><p>Nombre: </p></label>
            <input type="text"  class="form-control" readonly="readonly" value="{{ donador.nombre|title }}">
            <label style="font-size: 18px" for="">Apellido: </label>
            <input type="text" class="form-control" readonly="readonly" value="{{ donador.apellido|title }}">
            <a class="btn btn-primary" href="/donadores" type="submit">Cancelar<i class="material-icons right">cancel</i></a>
            <a class="btn btn-danger" href="/desactivar_donador/{{donador.id}}" type="submit">Aceptar<i class="material-icons right">warning</i></a>
        </form>
    </main>
{%endblock%}