{% extends 'base.html' %}
{% load static %}
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}

{% block content %}
    <main id="movermain">
        <form action="" method="post">{% csrf_token %}



                {% form form=form %}
                    {% part form.donador prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
                    {% attr form.donador 'widget' disabled%}
                        disabled
                    {% endattr %}

                    {% part form.lote_medicamento prefix %}<i class="material-icons prefix">event_seat</i>{% endpart %}
                    {% attr form.lote_medicamento 'widget' disabled%}
                        disabled
                    {% endattr %}

                    {% part form.fecha_ingreso prefix %}<i class="material-icons prefix">date_range</i>{% endpart %}
                    {% part form.cantidad prefix %}<i class="material-icons prefix">shopping_basket</i>{% endpart %}
                    {% part form.descripcion prefix %}<i class="material-icons prefix">reorder</i>{% endpart %}
                {% endform %}



            <a class="btn btn-primary"  href={% url 'consultarDonaciones'  %}>Regresar
                <i class="material-icons right">reply</i>
            </a>

        </form>


    </main>
{% endblock %}