{% extends 'base.html' %}
{% load static %}
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}

{% block content %}
    <main id="movermain">
        <form action="" method="post">{% csrf_token %}

            {% if tipo == 1 %}

                {% form form=form %}
                    {% part form.donador prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
                    {% attr form.donador 'widget' disabled%}
                        disabled
                    {% endattr %}

                    {% part form.lote_bienmueble prefix %}<i class="material-icons prefix">event_seat</i>{% endpart %}
                    {% attr form.lote_bienmueble 'widget' disabled%}
                        disabled
                    {% endattr %}

                    {% part form.fecha_ingreso prefix %}<i class="material-icons prefix">date_range</i>{% endpart %}
                    {% part form.cantidad prefix %}<i class="material-icons prefix">shopping_basket</i>{% endpart %}
                    {% part form.descripcion prefix %}<i class="material-icons prefix">reorder</i>{% endpart %}
                {% endform %}

            {% elif tipo == 2%}

                {% form form=form2 %}
                    {% part form.donador prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
                    {% attr form.donador 'widget' disabled%}
                        disabled
                    {% endattr %}

                {% endform %}

                {% form form=form %}
                    {% part form.fecha_ingreso prefix %}<i class="material-icons prefix">date_range</i>{% endpart %}
                    {% part form.cantidad prefix %}<i class="material-icons prefix">attach_money</i>{% endpart %}
                    {% part form.fecha_remesa prefix %}<i class="material-icons prefix">date_range</i>{% endpart %}
                    {% attr form.fecha_remesa 'group' class append %}fecha_1{% endattr %}
                    {% attr form.fecha_remesa 'widget' autocomplete  append %}off{% endattr %}
                    {% part form.descripcion prefix %}<i class="material-icons prefix">reorder</i>{% endpart %}
                {% endform %}

            {% endif %}

            <a class="btn btn-primary"  href={% url 'consultarDonaciones'  %}>Regresar
                <i class="material-icons right">reply</i>
            </a>
            {% if remesado == 0 %}
                <button class="btn btn-view"  type="submit" name="action" >Actualizar
                    <i class="material-icons right">send</i>
                </button>
            {% endif %}
        </form>
        <script type="text/javascript">
            $('input[name="fecha_remesa"]').mask('00/00/0000');
        </script>
        {% if remesado == 0 %}
            <script type="text/javascript">
                $('input[name="fecha_remesa"]').dblclick(function() {
                    $('input[name="fecha_remesa"]').datepicker('show');
                });
                $('input[name="fecha_remesa"]').click(function() {
                    $('input[name="fecha_remesa"]').datepicker('hide');
                });
            </script>
            <script type="text/javascript">
                $('input[name="fecha_remesa"]').datepicker({
                    format: "dd/mm/yyyy",
                    todayBtn: "linked",
                    maxViewMode: 3,
                    autoclose: true,
                    language: "es",
                    daysOfWeekHighlighted: "0",
                    clearBtn: true,
                    todayHighlight: true,
                    orientation: "bottom auto",
                    container: "div.fecha_1"
                });
            </script>
        {% endif %}
    </main>
{% endblock %}