{% extends 'base.html' %}
{% load static %}
{% load material_form %}

{% block content %}
    <main id="movermain">
        <form action="" method="POST" class="viewform">
            {% csrf_token %}

            {% form form=form %}
                {% part form.donador prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
                {% part form.cantidad prefix %}<i class="material-icons prefix">attach_money</i>{% endpart %}
                {% part form.descripcion prefix %}<i class="material-icons prefix">assignment</i>{% endpart %}
                {% part form.fecha_remesa prefix %}<i class="material-icons prefix">date_range</i>{% endpart %}
                {% attr form.fecha_remesa 'group' class append %}fecha_1{% endattr %}
                {% attr form.fecha_remesa 'widget' autocomplete  append %}off{% endattr %}
                {% part form.banco prefix %}<i class="material-icons prefix">account_balance</i>{% endpart %}
                {% part form.comprobante prefix %}<i class="material-icons prefix"></i>{% endpart %}
            {% endform %}


            <button class="btn btn-primary"  type="submit" name="action" >Registrar
                <i class="material-icons right">send</i>
            </button>


        </form>

        <script type="text/javascript">
            $('input[name="telefono"]').mask('0000-0000');
            $('input[name="fecha_remesa"]').mask('00/00/0000');
        </script>

        <script type="text/javascript">
            $('input[name="fecha_remesa"]').dblclick(function() {
                $('input[name="fecha_remesa"]').datepicker('show');
            });
            $('input[name="fecha_remesa"]').click(function() {
                $('input[name="fecha_remesa"]').datepicker('hide');
            });
        </script>
        <script type="text/javascript">
            $('input[name="fecha_remesa"]').datepicker({
                format: "dd/mm/yyyy",
                todayBtn: "linked",
                maxViewMode: 3,
                autoclose: true,
                language: "es",
                daysOfWeekHighlighted: "0",
                clearBtn: true,
                todayHighlight: true,
                orientation: "bottom auto",
                container: "div.fecha_1"
            });
        </script>
        {% if messages %}
            {% for mensaje in messages %}
                <script type="text/javascript">
                    (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
                </script>
            {% endfor %}
        {% endif %}

    </main>
{% endblock %}