{% extends 'base.html' %}
{% load static %}
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}

{% block content %}
    <main id="movermain">
        <form action="" method="post">{% csrf_token %}

                {% form form=detalle_form %}
                    {% part form.cantidad prefix %}<i class="material-icons prefix">reorder</i>{% endpart %}
                {% endform %}


                {% form form=salida_form %}

                    {% part form.concepto prefix %}<i class="material-icons prefix">reorder</i>{% endpart %}
                {% endform %}

        <button class="btn btn-primary"  type="submit" name="action" >Registrar
                <i class="material-icons right">send</i>
            </button>

        </form>


        <script type="text/javascript">
            (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
        </script>

    </main>
{% endblock %}