{% extends 'base.html' %}
{% load static %}
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}

{% load material_form %}
{% block content %}
    <main id="movermain">
        <form action="" method="post">{% csrf_token %}
            <div class="section row">
                <div class="col s12">
                    <h5>Registrar Salida de Medicamento:</h5>
                    <div class="row">
                        <div class="select-field col-sm-6" id="id_paciente">
                            <i class="material-icons prefix">face</i><label for="id_pacient">Paciente</label>
                            <select class="select-search" id="id_paciente" name="paciente">
                                <option value="">Paciente Externo</option>
                                {% for paciente in pacientes %}
                                    <option value={{ paciente.id }}>{{ paciente }}</option>
                                {% endfor %}
                            </select>
                            <div class="help-block">Seleccione el paciente al que se le entregarán los medicamentos</div>
                        </div>
                        <div class="select-field col-sm-6" id="ingreso_medicamento">
                            <i class="material-icons prefix">monetization_on</i><label for="id_pacient">Ingreso por Medicamento</label>
                            <input type="number" min="1" id="ingreso_medicamento" name="ingreso_medicamento" step="0.01" }} required>
                            <div class="help-block">Ingreso total por medicamentos ($)</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col-sm-6 fecha" id="fecha">
                            <i class="material-icons prefix">date_range</i><input autocomplete="off" data-date-format="d/m/Y" data-form-control="date" data-lang="es" id="fecha" name="fecha" value="{{ fecha }}" type="text" required>
                            <label class="active" for="fecha">Fecha de la Salida de Medicamento</label>
                            <div class="help-block">Formato: DD/MM/AAAA</div>
                        </div>
                    </div>
                    <div class="panel panel-default" style="padding-right: 60px;">
                        <div class="panel-body">
                            <div id="education_fields">
                            </div>
                            <div class="removeclass1">
                                <div class="col-sm-12 nopadding">
                                    <div class="form-group">
                                        <div class="help-block" id="help1"></div>
                                        <input type="number" min="1" class="form-control" id="cantidad1" name="cantidad[]" value="" placeholder="Cantidad" required readonly>
                                    </div>
                                </div>
                                <div class="col-sm-12 nopadding">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <select class="form-control" id="medicamento1" name="medicamento[]" onchange="change(this.id);" required>
                                                <option value="">Seleccione un Medicamento</option>
                                                {% for medicamento in medicamentos %}
                                                    <option value={{ medicamento.id }} id={{ medicamento.stock }}>{{ medicamento|title }}</option>
                                                {% endfor %}
                                            </select>
                                            <div class="input-group-btn">
                                                <button class="btn btn-success" type="button"  onclick="education_fields();"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-field col s12 required" id="id_salida-concepto_container">
                        <i class="material-icons prefix">reorder</i>
                        <textarea class="materialize-textarea" cols="40" id="id_salida-concepto" maxlength="1024" name="salida-concepto" rows="10"></textarea>
                        <label for="id_salida-concepto">En concepto de</label>
                    </div>

                    <button class="btn btn-primary"  type="submit" name="action" >Registrar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
        <script type="text/javascript">
            (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
        </script>
        <script type="text/javascript">
            var room = 1;
            function education_fields() {
                room++;
                var objTo = document.getElementById('education_fields')
                var divtest = document.createElement("div");
                divtest.setAttribute("class", "form-group removeclass"+room);
                var rdiv = 'removeclass'+room;
                divtest.innerHTML = '<div class="col-sm-12 nopadding"><div class="form-group"><div class="help-block" id="help' + room.toString() + '"></div><input min="1" type="number" class="form-control" id="cantidad' + room.toString() + '" name="cantidad[]" value="" placeholder="Cantidad" required readonly></div></div><div class="col-sm-12 nopadding"><div class="form-group"><div class="input-group"> <select class="form-control select-search" id="medicamento' + room.toString() + '" name="medicamento[]" onchange="change(this.id);" required ><option value="">Seleccione un Medicamento</option>{% for medicamento in medicamentos %}<option value={{ medicamento.id }} id={{ medicamento.stock }}>{{ medicamento|title }}</option>{% endfor %} </select><div class="input-group-btn"> <button class="btn btn-danger" type="button" onclick="remove_education_fields('+ room +');"> <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> </button></div></div></div></div>';

                objTo.appendChild(divtest)
            }
            function remove_education_fields(rid) {
                $('.removeclass'+rid).remove();
            }
        </script>
        <script type="text/javascript">
            $(function(){
                // turn the element to select2 select style
                $('.select-search').select2();
            });
        </script>
        <script type="text/javascript">
            function change(id) {
                var e = document.getElementById(id);
                var max_value = e.options[e.selectedIndex].id;
                document.getElementById("help"+id.replace( /^\D+/g, '')).innerHTML = "Stock actual: " + max_value
                document.getElementById("cantidad"+id.replace( /^\D+/g, '')).max = max_value;
                $("#cantidad"+id.replace( /^\D+/g, '')).prop('readonly', false);
            };
        </script>
        <script type="text/javascript">
            $('input[name="fecha"]').mask('00/00/0000');
        </script>
        <script type="text/javascript">
            $('input[name="fecha"]').dblclick(function() {
                $('input[name="fecha"]').datepicker('show');
            });
            $('input[name="fecha"]').click(function() {
                $('input[name="fecha"]').datepicker('hide');
            });
        </script>
        <script type="text/javascript">
            $('input[name="fecha"]').datepicker({
                format: "dd/mm/yyyy",
                todayBtn: "linked",
                maxViewMode: 3,
                autoclose: true,
                language: "es",
                daysOfWeekHighlighted: "0",
                clearBtn: true,
                todayHighlight: true,
                orientation: "bottom auto",
                container: "div.fecha"
            });
        </script>
    </main>
{% endblock %}