{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main id="movermain" class="consulta-tabla">
        <header>

        </header>
        <table class="table table-striped table-bordered table-hover" data-toggle="bootgrid" id = "moverTabla">
            <thead>
            <tr>
                <th>Nombre de Usuario</th>
                <th>Correo Electrónico</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for user in user_list %}
                <tr>
                    <!--  <td></td>-->
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.first_name|title}}</td>
                    <td>{{user.last_name|title}}</td>
                    <td>
                        {% if perms.auth.change_user%}
                            <a class="btn btn-primary" href="/actualizar_usuario/{{user.id}}"><i class="material-icons">edit</i></a>
                        {% endif %}

                        {% if perms.auth.delete_user%}
                            <a class="btn btn-danger" href="/user_confirm_delete/{{user.id}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                        {% endif %}

                        {%if perms.auth.add_permission and perms.auth.change_permission and perms.auth.delete_permission %}
                            <a class="btn btn-primary" href="/permisos/{{user.id}}"><i class="material-icons">autorenew</i></a>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if messages %}
            {% for mensaje in messages %}
                <script type="text/javascript">
                    (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
                </script>
            {% endfor %}
        {% endif %}
    </main>
{%endblock%}
