{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main id="movermain">
        <div><b style="font-size: 22px;">Configuracion de cuenta:</b></div>
        <div class="row" id="contenido">
            <form class="col s12" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_box</i>
                        <input  id="nombres" type="text" class="validate" value="{{ nombre }}" name="nombres" data-length="30">
                        <label for="contraseña">Nombres:</label>

                    </div>
                    <div class="input-field col s6">
                        <input id="apellidos" type="text" class="validate" value="{{ apellido }}" name="apellidos" data-length="30">
                        <label for="contraseña">Apellidos:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input id="correo" type="email" class="validate" value="{{ email }}" name="correo" data-length="254">
                        <label for="contraseña" data-error="Incorrecto" data-success="Correcto">Email:</label>

                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        <input id="contraseña" type="password" class="validate" name="contraseña">
                        <label for="contraseña">Contraseña nueva:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        <input id="contraseña2" type="password" class="validate" name="contraseña2">
                        <label for="contraseña">Vuelva escribir la contraseña nueva:</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-purple"  type="submit" name="action" href="/cuenta">Actualizar
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>

        <script type="text/javascript">
            (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
        </script>
    </main>

{%endblock%}
