{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <body>
    <main id="movermain">
        <form method="post" action="">
            {% csrf_token %}
            <h4 class="text-center">Asignar Permisos</h4>
            <div class="container" style="display: flex; flex-direction: row; justify-content: center; width: 600px">
                <div style="flex: 1 1 auto; text-align: left">
                    <h5> Permisos Asignables </h5>
                </div>

                <div style="flex: 1 1 auto; text-align: right">
                    <h5> Permisos Asignados </h5>
                </div>
            </div>

            <div style="margin-top: 3rem">
                <div class>
                    <select id="pre-selected-options" name="pre-selected-options" title="pre-selected-options" multiple='multiple'>
                        {% for permission in has_permission_list %}
                            <option name="{{ permission.id }}" value='{{ permission.id }}' selected>{% trans permission.name %}</option>
                        {% endfor %}
                        {% for permission in has_not_permission_list %}
                            <option name="{{ permission.id }}" value='{{ permission.id }}'>{% trans permission.name %}</option>
                        {% endfor %}
                    </select>
                    <div class="text-center container" style="margin-top: 3rem">

                        <button class="btn btn-view"  type="submit" name="action" href="/permisos/">Actualizar
                            <i class="material-icons right">autorenew</i>
                        </button>

                        <a class="btn btn-danger" href="/usuarios" type="submit">Cancelar
                            <i class="material-icons right">cancel</i></a>

                    </div>

                </div>
            </div>
        </form>
    </main>
    <!-- ends -->

    <script src="{% static 'js/jquery.multi-select.js' %}"></script>
    <script type="text/javascript">
        // run pre selected options
        $('#pre-selected-options').multiSelect();
    </script>

{%endblock%}
