{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>Login</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script defer type="text/javascript" src="{% static 'list/frontend.js' %}"></script>
    <script src="{% static 'list/jquery-2.1.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <link rel="stylesheet" TYPE="text/css" HREF="{% static 'css.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'materialize.min.css' %}"  media="screen,projection"/>
    <link rel="stylesheet" href="{% static 'list/materialize-0.98.2.css' %}">
    <script  src="{% static 'list/materialize-0.98.2.js' %}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body id="colorLogin" >
<div >
    <div class="container" id="tamanio" >
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image" id="color">
                    <div class="carousel">
                        <a class="carousel-item" href="#one!"><img src="{% static "imagenes/1.jpg" %}"></a>
                        <a class="carousel-item" href="#two!"><img src="{% static "imagenes/2.jpg" %}"></a>
                        <a class="carousel-item" href="#three!"><img src="{% static "imagenes/3.jpg" %}"></a>
                        <a class="carousel-item" href="#four!"><img src="{% static "imagenes/4.jpg" %}"></a>
                        <a class="carousel-item" href="#five!"><img src="{% static "imagenes/5.jpg" %}"></a>
                    </div>
                    <span class="card-title" ><strong>Iniciar Sesión</strong></span>
                </div>
                <div class="card-content">

                    <form class="col s12" method="post" action="">
                        {% csrf_token %}
                        <div class="row">
                            <div class="input-field col s7 form-group">
                                <i class="material-icons prefix">account_circle</i><p style="padding-left: 50px">Usuario:</p>
                                <input  id="username" name= "username" type="text" class="validate">
                                <label for="Username"></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s7 form-group">
                                <i class="material-icons prefix">lock_outline</i><p style="padding-left: 50px">Contraseña:</p>
                                <input id="password" name ="password" type="password" class="validate ">
                                <label for="password"></label>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn waves-effect waves-purple" type="submit" name="action">Iniciar Sesion
                                <i class="material-icons right">forward</i>
                            </button>
                        </div>
                        <div><a href="/reset-password/">¿Se le olvidó la contraseña?</a></div>
                    </form>
                    <script type="text/javascript">
                        (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
                    </script>

                </div>



            </div>

        </div>

    </div>
</div>
</div>
</div>

</body>

</html>