{% extends 'base.html' %}
{% load static %}
{% load material_form %}

{% block content %}
    <main id="movermain">
        <form action="" method="POST" class="viewform">
            {% csrf_token %}
            {% form form=form %}
                {% part form.tarifa_padre prefix %}<i class="material-icons prefix">portrait</i>{% endpart %}
                {% part form.examen prefix %}<i class="material-icons prefix">airline_seat_flat</i>{% endpart %}
                {% attr form.examen 'widget' required%}{% endattr %}
                {% part form.nombre prefix %}<i class="material-icons prefix">content_paste</i>{% endpart %}
                {% part form.monto prefix %}<i class="material-icons prefix">attach_money</i>{% endpart %}
            {% endform %}

            {% if actualizar == True %}
                <button class="btn btn-view"  type="submit" name="action" >Actualizar
                    <i class="material-icons right">send</i>
                </button>
                <a class="btn btn-danger" href="/tarifas2" type="submit">Cancelar
                    <i class="material-icons right">cancel</i></a>
            {% else %}
                <button class="btn btn-primary"  type="submit" name="action" >Registrar
                    <i class="material-icons right">send</i>
                </button>
            {% endif %}

        </form>
        {% if messages %}
            {% for mensaje in messages %}
                <script type="text/javascript">
                    (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
                </script>
            {% endfor %}
        {% endif %}

        <script type="text/javascript">
            $(function() {
                $('#id_examen').change(function() {
                    var examen = document.getElementById('id_examen');
                    var tarifa = document.getElementById('id_tarifa_padre');
                    var nombre = document.getElementById('id_nombre');
                    if(examen.selectedIndex == 0){
                        nombre.value = "Por favor seleccione un examen médico"
                    }else{
                        for(i=1; i<examen.length; i++){
                            if(examen.selectedIndex == i){
                                nombre.value=examen.options[examen.selectedIndex].text + " para tarifa " + tarifa.options[tarifa.selectedIndex].text;
                            }
                        }
                    }
                }).change(); // Trigger the event
            });
        </script>
        <script type="text/javascript">
            $(function() {
                $('#id_tarifa_padre').change(function() {
                    var examen = document.getElementById('id_examen');
                    var tarifa = document.getElementById('id_tarifa_padre');
                    var nombre = document.getElementById('id_nombre');
                    if(examen.selectedIndex == 0){
                        nombre.value = "Por favor seleccione un examen médico"
                    }else{
                        for(i=0; i<tarifa.length; i++){
                            if(tarifa.selectedIndex == i){
                                nombre.value=examen.options[examen.selectedIndex].text + " para tarifa " + tarifa.options[tarifa.selectedIndex].text;
                            }
                        }
                    }
                }).change(); // Trigger the event
            });
        </script>
    </main>
{% endblock %}