{% extends 'base.html' %}
{% load static %}
{% load material_form %}
{% block content %}
    <main id="movermain">
        <form action="" method="POST" class="viewform">
            {% csrf_token %}
            {% form form=form %}
                {% part form.nombre prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
                {% attr form.nombre 'widget' style  append %}text-transform: capitalize;{% endattr %}
                {% part form.apellido prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
                {% attr form.apellido 'widget' style  append %}text-transform: capitalize;{% endattr %}
                {% part form.departamento prefix %}<i class="material-icons prefix">home</i>{% endpart %}
                {% attr form.departamento 'widget' class append %}select-search{% endattr %}
                {% part form.municipio prefix %}<i class="material-icons prefix">home</i>{% endpart %}
                {% attr form.municipio 'widget' class append %}select-search{% endattr %}
                {% part form.direccion prefix %}<i class="material-icons prefix">home</i>{% endpart %}
                {% part form.telefono prefix %}<i class="material-icons prefix">call</i>{% endpart %}
                {% part form.email prefix %}<i class="material-icons prefix">email</i>{% endpart %}
            {% endform %}

            {% if actualizar == True %}
                <button class="btn btn-view"  type="submit" name="action" >Actualizar
                    <i class="material-icons right">send</i>
                </button>
                <a class="btn btn-danger" href="/participantes" type="submit">Cancelar
                    <i class="material-icons right">cancel</i></a>
            {% else %}
                <button class="btn btn-primary"  type="submit" name="action" >Registrar
                    <i class="material-icons right">send</i>
                </button>
            {% endif %}

        </form>

        <script type="text/javascript">
            $('input[name="telefono"]').mask('0000-0000');
        </script>
        {% if messages %}
            {% for mensaje in messages %}
                <script type="text/javascript">
                    (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
                </script>
            {% endfor %}
        {% endif %}
        <script type="text/javascript">
            $(function(){
                // turn the element to select2 select style
                $('.select-search').select2();
            });
        </script>
        <script type="text/javascript">
            $(function(){
                var options="";
                var value=$("#id_departamento").val();
                if(value!=''){
                    {% regroup municipios by departamento as departamento_list %}
                    {% for departamento in departamento_list %}
                        //alert('{{ departamento.grouper.id }}');
                        if(value=={{ departamento.grouper.id }})
                        {
                            options="<option>Seleccione un Municipio</option>"
                                {% for municipio in departamento.list %}
                                    +"<option value={{ municipio.id }}>{{ municipio }}</option>"
                                {% endfor %};
                            $("#id_municipio").html(options);
                        }
                    {% endfor %}
                }
            });
        </script>
        <script type="text/javascript">
            var options="";
            $("#id_departamento").on('change',function(){
                var value=$(this).val();
                if(value!=''){
                    {% regroup municipios by departamento as departamento_list %}
                    {% for departamento in departamento_list %}
                        //alert('{{ departamento.grouper.id }}');
                        if(value=={{ departamento.grouper.id }})
                        {
                            options="<option>Seleccione un Municipio</option>"
                                {% for municipio in departamento.list %}
                                    +"<option value={{ municipio.id }}>{{ municipio }}</option>"
                                {% endfor %};
                            $("#id_municipio").html(options);
                        }
                    {% endfor %}
                }
                else{
                    $("#id_municipio").find('option').remove()
                }
            });
        </script>
    </main>
{% endblock %}