{% extends 'base.html' %}
{% load static %}
{% load material_form %}
{% block content %}
    <main id="movermain">
        <form action="" method="POST" class="viewform">
            {% csrf_token %}
            {% form form=form %}
                {% part form.nombre prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
                {% attr form.nombre 'widget' style  append %}text-transform: capitalize;{% endattr %}
                {% part form.apellido prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
                {% attr form.apellido 'widget' style  append %}text-transform: capitalize;{% endattr %}
                {% part form.telefono_cel prefix %}<i class="material-icons prefix">call</i>{% endpart %}
                {% part form.telefono prefix %}<i class="material-icons prefix">call</i>{% endpart %}
                {% part form.email prefix %}<i class="material-icons prefix">email</i>{% endpart %}
                {% part form.profesion prefix %}<i class="material-icons prefix">work</i>{% endpart %}
            {% endform %}

            {% if actualizar == True %}
                <button class="btn btn-view"  type="submit" name="action" >Actualizar
                    <i class="material-icons right">send</i>
                </button>
                <a class="btn btn-danger" href="/ponentes" type="submit">Cancelar
                    <i class="material-icons right">cancel</i></a>
            {% else %}
                <button class="btn btn-primary"  type="submit" name="action" >Registrar
                    <i class="material-icons right">send</i>
                </button>
            {% endif %}

        </form>

        <script type="text/javascript">
            $('input[name="telefono"]').mask('0000-0000');
            $('input[name="telefono_cel"]').mask('0000-0000');
        </script>
        {% if messages %}
            {% for mensaje in messages %}
                <script type="text/javascript">
                    (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
                </script>
            {% endfor %}
        {% endif %}

    </main>
{% endblock %}