{% extends 'base.html' %}
{% load static %}
{% load material_form %}
{% block content %}
    <main id="movermain">
        <form action="" method="POST" class="viewform">
            {% csrf_token %}
            {% form form=form %}
                {% part form.fecha prefix %}<i class="material-icons prefix">date_range</i>{% endpart %}
                {% attr form.fecha 'group' class append %}fecha_1{% endattr %}
                {% attr form.fecha 'widget' autocomplete  append %}off{% endattr %}
                {% part form.hora prefix %}<i class="material-icons prefix">access_time</i>{% endpart %}
                {% part form.lugar prefix %}<i class="material-icons prefix">location_on</i>{% endpart %}
                {% part form.tema prefix %}<i class="material-icons prefix">content_paste</i>{% endpart %}
                {% part form.ponente prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}

                {% if actualizar == True %}
                    {% part form.estado prefix %}<i class="material-icons prefix">arrow_drop_down_circle</i>{% endpart %}
                {% endif %}
            {% endform %}

            {% if actualizar == True %}
                <button class="btn btn-view"  type="submit" name="action" >Actualizar
                    <i class="material-icons right">send</i>
                </button>
                <a class="btn btn-danger" href="/grupos_apoyo" type="submit">Cancelar
                    <i class="material-icons right">cancel</i></a>
            {% else %}
                <button class="btn btn-primary"  type="submit" name="action" >Registrar
                    <i class="material-icons right">send</i>
                </button>
            {% endif %}

        </form>

        <script type="text/javascript">
            $('input[name="fecha"]').mask('00/00/0000');
            $('input[name="hora"]').mask('00:00');
        </script>

        {% if messages %}
            {% for mensaje in messages %}
                <script type="text/javascript">
                    (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
                </script>
            {% endfor %}
        {% endif %}

        <script type="text/javascript">
            $('input[name="fecha"]').dblclick(function() {
                $('input[name="fecha"]').datepicker('show');
            });
            $('input[name="fecha"]').click(function() {
                $('input[name="fecha"]').datepicker('hide');
            });
        </script>
        <script type="text/javascript">
            $('input[name="fecha"]').datepicker({
                format: "dd/mm/yyyy",
                todayBtn: "linked",
                maxViewMode: 3,
                autoclose: true,
                language: "es",
                daysOfWeekHighlighted: "0",
                clearBtn: true,
                todayHighlight: true,
                orientation: "bottom auto",
                container: "div.fecha_1"
            });
        </script>

        <script type="text/javascript">
            $('input[name="hora"]').dblclick(function() {
                $('input[name="hora"]').pickatime({
                    default: 'now', // Set default time: 'now', '1:30AM', '16:30'
                    fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
                    twelvehour: false, // Use AM/PM or 24-hour format
                    donetext: 'Aceptar', // text for done-button
                    cleartext: 'Limpiar', // text for clear-button
                    canceltext: 'Cancelar', // Text for cancel-button
                    autoclose: true, // automatic close timepicker
                    ampmclickable: true, // make AM PM clickable
                    aftershow: function(){} //Function for after opening timepicker
                });
            });
        </script>
    </main>
{% endblock %}