{% extends 'base.html' %}
{% load static %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}

{% block content %}
    <main id="movermain">
        <form action="" method="POST" class="viewform">
            {% csrf_token %}

            {% form form=estudio_form %}
                {% part form.vivienda prefix %}<i class="material-icons prefix">account_balance</i>{% endpart %}
                {% part form.vehiculo prefix %}<i class="material-icons prefix">directions_car</i>{% endpart %}
                {% part form.trabaja prefix %}<i class="material-icons prefix">work</i>{% endpart %}
                {% part form.esp_trabajo prefix %}<i class="material-icons prefix">arrow_forward</i>{% endpart %}
                {% part form.estudia prefix %}<i class="material-icons prefix">school</i>{% endpart %}
                {% part form.negocio prefix %}<i class="material-icons prefix">home</i>{% endpart %}
                {% part form.pensionado prefix %}<i class="material-icons prefix">enhanced_encryption</i>{% endpart %}
                {% part form.servicios prefix %}<i class="material-icons prefix"></i>{% endpart %}
                {% part form.tarifa prefix %}<i class="material-icons prefix">attach_money</i>{% endpart %}

            {% endform %}
            <button class="btn btn-primary"  type="submit" name="action" >Registrar
                <i class="material-icons right">send</i>
            </button>
        </form>
    </main>
{% endblock %}