{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <body>
    <!-- start -->
    <main id="movermain">
        <form method="post" action="">

            {% csrf_token %}
            <h4 class="text-center">Grupo de Apoyo: </h4>
            <div class="container" style="display: flex; flex-direction: row; justify-content: center; width: 600px">
                <div style="flex: 1 1 auto; text-align: center">
                    <h5> NO Asistieron </h5>
                </div>

                <div style="flex: 1 1 auto; text-align: center">
                    <h5> Asistieron </h5>
                </div>
            </div>

            <div style="margin-top: 3rem">
                <div class>
                    <select id="pre-selected-options" name="pre-selected-options" title="pre-selected-options" multiple='multiple'>
                        {% for participante in participantes_asistieron_list %}
                            <option name="{{ participante.id }}" value='0, {{  participante.id }}' selected>{{ participante|title }}</option>
                        {% endfor %}
                        {% for participante in participantes_noasistieron_list %}
                            <option name="{{ participante.id }}" value='0, {{ participante.id }}'>{{ participante|title }}</option>
                        {% endfor %}

                        {% for paciente in pacientes_asistieron_list %}
                            <option name="{{ paciente.id }}" value='1, {{ paciente.expediente.id }}' selected>{{ paciente|title }}</option>
                        {% endfor %}
                        {% for paciente in pacientes_noasistieron_list %}
                            <option name="{{ paciente.id }}" value='1, {{ paciente.expediente.id }}'>{{ paciente|title }}</option>
                        {% endfor %}
                    </select>
                    <div class="text-center container" style="margin-top: 3rem">

                        <button class="btn btn-view"  type="submit" name="action" href="#">Actualizar
                            <i class="material-icons right">autorenew</i>
                        </button>

                        <a class="btn btn-danger" href="/grupos_apoyo" type="submit">Cancelar
                            <i class="material-icons right">cancel</i></a>

                    </div>

                </div>
            </div>
        </form>
    </main>
    <!-- ends -->

    <script src="{% static 'js/jquery.multi-select.js' %}"></script>

    <script type="text/javascript">
        $('#pre-selected-options').multiSelect({
            selectableHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='Buscar Participante:'>",
            selectionHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='Buscar Participante'>",
            afterInit: function(ms){
                var that = this,
                    $selectableSearch = that.$selectableUl.prev(),
                    $selectionSearch = that.$selectionUl.prev(),
                    selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
                    selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

                that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                    .on('keydown', function(e){
                        if (e.which === 40){
                            that.$selectableUl.focus();
                            return false;
                        }
                    });

                that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                    .on('keydown', function(e){
                        if (e.which == 40){
                            that.$selectionUl.focus();
                            return false;
                        }
                    });
            },
            afterSelect: function(){
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function(){
                this.qs1.cache();
                this.qs2.cache();
            }
        });
    </script>

    {% if mensaje %}
        <script type="text/javascript">
            (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
        </script>
    {% endif %}


{%endblock%}