{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main id="movermain" class="consulta-tabla">
        <table class="table table-striped table-bordered table-hover" data-toggle="bootgrid" id = "moverTabla">
            <thead>
            <tr>
                <th>Descripcion de Especialidades</th>
                {% if perms.administracion.delete_especialidad%}
                    <th>¿Disponible?</th>
                {% endif %}
                {% if perms.administracion.change_especialidad%}
                    <th>Gestionar</th>
                {% endif %}
            </tr>
            </thead>

            <tbody>
            {% for especialidad in especialidad_list %}
                <tr>
                    <td>{{especialidad.nombre|title}}</td>

                    {% if perms.administracion.delete_especialidad%}
                        {% if especialidad.activo %}
                            <td style="text-align:center"><a class="btn btn-primary" href="/confirmar_desactivar_especialidad/{{especialidad.id}}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></td>
                        {% elif not especialidad.activo %}
                            <td><a class="btn btn-danger" href="/confirmar_desactivar_especialidad/{{especialidad.id}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                        {% endif %}
                    {% endif %}

                    {% if perms.administracion.change_especialidad%}
                        <td>
                            <a class="btn btn-primary" href="/actualizar_especialidad/{{especialidad.id}}"><i class="material-icons">edit</i></a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if messages %}
            {% for mensaje in messages %}
                <script type="text/javascript">
                    (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
                </script>
            {% endfor %}
        {% endif %}
    </main>

{%endblock%}