{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main id="movermain" class="consulta-tabla">
        <header>

        </header>
        <table class="table table-striped table-bordered table-hover" data-toggle="bootgrid" id = "moverTabla">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                {% if perms.administracion.change_servicio%}
                    <th>Gestionar</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for servicios in servicios_list %}
                <tr>
                    <td>{{servicios.nombre|title}}</td>
                    {% if servicios.tipo == '1' %}
                        <td>Basico</td>
                    {% else %}
                        <td>Medico</td>
                    {% endif %}
                    {% if perms.administracion.change_servicio%}
                        <td>
                            <a class="btn btn-primary" href="/actualizar_servicio/{{servicios.id}}"><i class="material-icons">edit</i></a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if messages %}
            {% for mensaje in messages %}
                <script type="text/javascript">
                    (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
                </script>
            {% endfor %}
        {% endif %}
    </main>

{%endblock%}
