{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main id="movermain" class="consulta-tabla">

        <table class="table table-striped table-bordered table-hover" data-toggle="bootgrid" id = "moverTabla">
            <thead>
            <tr>
                <th>No. Expediente</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Telefono</th>
                <th>Direccion</th>
                {% if perms.administracion.delete_paciente%}
                    <th>Activo</th>
                {% endif %}
                {% if perms.administracion.change_paciente%}
                    <th>Modificar</th>
                {% endif %}
                {% if perms.administracion.change_responsable%}
                    <th>Responsable</th>
                {% endif %}
            </tr>
            </thead>

            <tbody>
            {% for pacientes in pacientes_list %}
                <tr>
                    <td><a href="/expediente/{{ pacientes.expediente.id }}">{{pacientes.expediente}}</a></td>
                    <td>{{pacientes.nombre|title}}</td>
                    <td>{{pacientes.apellido|title}}</td>
                    <td>{{pacientes.telefono}}</td>
                    <td>{{pacientes.direccion}}</td>
                    {% if perms.administracion.delete_paciente%}
                        {% if pacientes.activo %}
                            <td style="text-align:center"><a class="btn btn-primary" href="/confirmar_desactivar_paciente/{{pacientes.id}}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></td>
                        {% elif not pacientes.activo %}
                            <td><a class="btn btn-danger" href="/confirmar_desactivar_paciente/{{pacientes.id}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                        {% endif %}
                    {% endif %}
                    {% if perms.administracion.change_paciente%}
                        <td>
                            <a class="btn btn-primary" href="/actualizar_paciente/{{pacientes.id}}"><i class="material-icons">edit</i></a>
                        </td>
                    {% endif %}
                    {% if perms.administracion.change_responsable%}
                        <td>
                            <a class="btn btn-primary" href="/actualizar_responsable/{{pacientes.id}}"><i class="material-icons">edit</i></a>
                        </td>
                    {% endif %}
                </tr>

            {% endfor %}
            </tbody>
        </table>
        {% if messages %}
            {% for mensaje in messages %}
                <script type="text/javascript">
                    (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
                </script>
            {% endfor %}
        {% endif %}

        {% if mensaje %}
            <script type="text/javascript">
                (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
            </script>
        {% endif %}
    </main>

{%endblock%}



