{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main id="movermain" class="consulta-tabla">
        <header>

        </header>
        <table class="table table-striped table-bordered table-hover" data-toggle="bootgrid" id = "moverTabla">
            <thead>
            <tr>

                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Telefono Celular</th>
                <th>Telefono Fijo</th>
                <th>Correo Electronico</th>
                <th>Profesión</th>

                {% if perms.administracion.delete_ponente%}
                    <th>Activo</th>
                {% endif %}

                {% if perms.administracion.change_ponente%}
                    <th>Gestionar</th>
                {% endif %}
            </tr>
            </thead>

            <tbody>
            {% for ponente in ponentes_list %}
                <tr>
                    <td>{{ponente.nombre|title}}</td>

                    <td>{{ponente.apellido|title}}</td>
                    <td>{{ponente.telefono_cel}}</td>
                    <td>{{ponente.telefono}}</td>
                    {% if ponente.email is not None %}
                        <td>{{ponente.email}}</td>
                    {% else %}
                        <td>No posee</td>
                    {% endif %}
                    <td>{{ponente.profesion}}</td>
                    {% if perms.administracion.delete_ponente%}
                        {% if ponente.activo %}
                            <td style="text-align:center"><a class="btn btn-primary" href="/confirmar_desactivar_ponente/{{ponente.id}}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></td>
                        {% elif not ponente.activo %}
                            <td><a class="btn btn-danger" href="/confirmar_desactivar_ponente/{{ponente.id}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                        {% endif %}
                    {% endif %}

                    {% if perms.administracion.change_ponente%}
                        <td>
                            <a class="btn btn-primary" href="/ponentes/{{ponente.id}}"><i class="material-icons">edit</i></a>

                        </td>
                    {% endif %}
                </tr>

            {% endfor %}
            </tbody>
        </table>
        {% if messages %}
            {% for mensaje in messages %}
                <script type="text/javascript">
                    (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
                </script>
            {% endfor %}
        {% endif %}
    </main>

{%endblock%}
