{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main id="movermain" class="consulta-tabla">
        <header>

        </header>
        <table class="table table-striped table-bordered table-hover" data-toggle="bootgrid" id = "moverTabla">
            <thead>
            <tr>

                <th>Fecha</th>
                <th>Hora</th>
                <th>Lugar</th>
                <th>Tema</th>
                <th>Estado</th>
                <th>Ponente</th>

                {% if perms.administracion.change_grupoapoyo%}
                    <th>Gestionar</th>
                {% endif %}
            </tr>
            </thead>

            <tbody>
            {% for grupos in grupo_list %}
                <tr>
                    <td>{{grupos.fecha}}</td>
                    <td>{{grupos.hora}}</td>
                    <td>{{grupos.lugar}}</td>
                    <td>{{grupos.tema}}</td>
                    <td>{{grupos.get_estado_display}}</td>
                    <td>{{grupos.ponente}}</td>
                    {% if perms.administracion.change_grupoapoyo%}
                        <td>
                            <a class="btn btn-primary" href="/grupos_apoyo/{{grupos.id}}"><i class="material-icons">edit</i></a>
                            <a class="btn btn-primary" href="/grupos_apoyo/participantes/{{grupos.id}}"><i class="material-icons">group</i></a>
                        </td>
                    {% endif %}
                </tr>

            {% endfor %}
            </tbody>
        </table>
        {% if messages %}
            {% for mensaje in messages %}
                <script type="text/javascript">
                    (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
                </script>
            {% endfor %}
        {% endif %}
    </main>

{%endblock%}
