{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main id="movermain" class="consulta-tabla">
        <header>
            <div class="nav-wrapper">

            </div>
        </header>
        <table class="table table-striped table-bordered table-hover" data-toggle="bootgrid" id = "moverTabla">
            <thead>
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Telefono</th>
                <th>Dui</th>
                {% if perms.administracion.delete_empleado%}
                    <th>Activo</th>
                {% endif %}
                {% if perms.administracion.change_empleado%}
                    <th>Modificar</th>
                {% endif %}
            </tr>
            </thead>

            <tbody>
            {% for empleados in empleados_list %}
                <tr>
                    <td>{{empleados.nombre|title}}</td>
                    <td>{{empleados.apellido|title}}</td>
                    <td>{{empleados.telefono}}</td>
                    <td>{{empleados.dui}}</td>
                    {% if perms.administracion.delete_empleado%}
                        {% if empleados.activo %}

                            <td><a class="btn btn-primary" href="/confirmar_desactivar_empleado/{{empleados.id}}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></td>

                        {% elif not empleados.activo %}
                            <td><a class="btn btn-danger" href="/confirmar_desactivar_empleado/{{empleados.id}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>

                        {% endif %}
                    {% endif %}
                    {% if perms.administracion.change_empleado%}
                        <td>
                            <a class="btn btn-primary" href="/actualizar_empleado/{{empleados.id}}"><i class="material-icons">edit</i></a>
                        </td>
                    {% endif %}
                </tr>

            {% endfor %}
            </tbody>
        </table>
        {% if messages %}
            {% for mensaje in messages %}
                <script type="text/javascript">
                    (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
                </script>
            {% endfor %}
        {% endif %}
    </main>

{%endblock%}
