{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main id="movermain" class="consulta-tabla">
        <header>

        </header>
        <table class="table table-striped table-bordered table-hover" data-toggle="bootgrid" id = "moverTabla">
            <thead>
            <tr>

                <th>Tipo de Estudio SocioEconomico</th>
                <th>Tipo de Examen</th>
                <th>Descripcion de Tarifa</th>
                <th>Monto ($)</th>

                {% if perms.administracion.change_tarifa%}
                    <th>Gestionar</th>
                {% endif %}
            </tr>
            </thead>

            <tbody>
            {% for tarifas in tarifas2_list %}
                <tr>
                    <td>{{tarifas.tarifa_padre}}</td>
                    <td>{{tarifas.examen}}</td>
                    <td>{{tarifas.nombre}}</td>
                    <td>{{tarifas.monto}}</td>
                    {% if perms.administracion.change_tarifa%}
                        <td>
                            <a class="btn btn-primary" href="/actualizar_tarifa2/{{tarifas.id}}"><i class="material-icons">edit</i></a>
                        </td>
                    {% endif %}
                </tr>

            {% endfor %}
            </tbody>
        </table>
        {% if messages %}
            {% for mensaje in messages %}
                <script type="text/javascript">
                    (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
                </script>
            {% endfor %}
        {% endif %}
    </main>

{%endblock%}