{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container"></div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large btn-primary">
            <i class="large material-icons">add</i>
        </a>
        <ul>
            <li><a class="btn-floating green" href="{% url 'pre_diagnostico' pk=expediente.id %}"><i class="glyphicon glyphicon-file"></i></a></li>
            {% if perms.administracion.add_socioeconomico or perms.administracion.change_socioeconomico %}
                {% if not socioeconomico %}
                    <li><a class="btn-floating red" href="{% url 'registro_socio' id=expediente.id %}"><i class="material-icons">monetization_on</i></a></li>
                {% else %}
                    <li><a class="btn-floating red" href="{% url 'EstudioUpdate' pk=socioeconomico.id %}"><i class="material-icons">monetization_on</i></a></li>
                {% endif %}
            {% endif %}
            <li><a class="btn-floating purple" href="{% url 'agregarPlan' expediente_id=expediente.id %}"><i class="glyphicon glyphicon-list-alt"></i></a></li>
            <li><a class="btn-floating btn-view" href="{% url 'agregar_resultado' exp_id=expediente.id %}"><i class="glyphicon glyphicon-edit"></i></a></li>
            <li><a class="btn-floating blue" href="{% url 'procedimientos_paciente' pac_id=expediente.paciente.id %}"><i class="material-icons">create_new_folder</i></a></li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-8 col-md-offset-3" style="margin-top: 75px;">
        <div class="page-header">

            <h5>Expediente - Nombre del Paciente: <b>{{ paciente|title }}</b></h5>
        </div>
        <div class="line text-muted"></div>
        <div class="">
            <h5>Opciones de Filtrado: </h5>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="layout-row row" style="display: flex; justify-content: center; align-items: center;">
                <div class="col s12 m6">
                    <div class="row">
                        <div class="input-field col s12 fecha_desde" id="fecha_desde">
                            <i class="material-icons prefix">date_range</i><input autocomplete="off" data-date-format="d/m/Y" data-form-control="date" data-lang="es" id="fecha" name="fecha_desde" type="text" >
                            <label class="active" for="fecha_desde">¿Desde qué fecha?</label>
                            <div class="help-block">Formato: DD/MM/AAAA</div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="row">
                        <div class="input-field col s12 fecha_hasta" id="fecha_hasta">
                            <i class="material-icons prefix">date_range</i><input autocomplete="off" data-date-format="d/m/Y" data-form-control="date" data-lang="es" id="fecha" name="fecha_hasta" type="text" >
                            <label class="active" for="fecha_hasta">¿Hasta qué fecha?</label>
                            <div class="help-block">Formato: DD/MM/AAAA</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layout-row row" style="display: flex; justify-content: center; align-items: center;">
                <div class="col s12 m6">
                    <div class="row">
                        <div class="col s12">
                            <i class="material-icons prefix">date_range</i>
                            <select id="select" name="select">
                                <option value="" selected>Todos</option>
                                <option value="1">Consultas</option>
                                <option value="2">Planes de Tratamiento</option>
                                <option value="3">Resultados de Exámenes</option>
                            </select>
                            <label for="select">Elija su opción de filtrado</label>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6" style="text-align: center;">
                    <div class="row">
                        <div class="col s12">
                            <button class="btn btn-primary"  type="submit" href={% url 'expediente' pk=expediente.id %}>Buscar
                                <i class="material-icons right">search</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <div class="panel-group" id="accordion">

            <!-- Timeline -->
            <div class="timeline">

                <!-- Line component -->
                <div class="line text-muted"></div>

                {% for object in object_list %}
                    {% if object.0 == 1 %}
                        <div class="paginable" data-parent="#accordion">
                            <!-- Separator -->
                            <div class="separator text-muted" style="font-size: 15px">
                                <b>
                                    <i class="glyphicon glyphicon-calendar"></i>
                                    <time>{{ object.1 }}</time>
                                </b>
                            </div>

                            <!-- Panel -->
                            <article class="panel panel-info">

                                <!-- Icon -->
                                <div class="panel-heading icon">
                                    <i class="glyphicon glyphicon-list-alt"></i>
                                </div>
                                <!-- /Icon -->

                                <!-- Heading -->
                                <div class="panel-heading">
                                    <div class="content">
                                        <div class="caja_inline"><span class="clickable panel-collapsed"><h2 class="panel-title">Plan de Tratamiento</h2></span></div>
                                        <div class="pull-right caja_inline">
                                            <div class="icon_inline iconos iconos panel-title">
                                                <a href="{% url 'detallePlan' pk=object.2.id %}"><i class="glyphicon glyphicon-eye-open"></i></a>
                                            </div>
                                            <div class="icon_inline iconos iconos panel-title">
                                                <a href="{% url 'actualizarPlan' pk=object.2.id %}"><i class="glyphicon glyphicon-pencil"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Heading -->

                                <!-- Body -->
                                <div class="panel-body" style="display: none;">
                                    {% if object.2.fecha_fin %}
                                        <p><i class="glyphicon glyphicon-calendar"></i> Fecha de Finalización: <b>{{ object.2.fecha_fin }}</b></p>
                                    {% endif %}
                                    {% if object.2.descripcion %}
                                        <p><i class="glyphicon glyphicon-list-alt"></i> Descripción: <b>{{ object.2.descripcion }}</b></p>
                                    {% else %}
                                        <p><i class="glyphicon glyphicon-list-alt"></i> Descripción: <b>Actualmente este Plan de Tratamiento no posee descripción</b></p>
                                    {% endif %}
                                </div>
                                <!-- /Body -->

                                <!-- Footer -->
                                <div class="panel-footer">
                                    <p>Estado del Plan de Tratamiento: <b>{{ object.2.get_estado_display }}</b></p>
                                </div>
                                <!-- /Footer -->
                            </article>
                        </div>


                    {% elif object.0 == 2%}

                        <!-- /Panel -->
                        <div class="paginable" data-parent="#accordion">
                            <!-- Separator -->
                            <div class="separator text-muted" style="font-size: 15px">
                                <b>
                                    <i class="glyphicon glyphicon-calendar"></i>
                                    <time>{{ object.1 }}</time>
                                </b>
                            </div>
                            <!-- /Separator -->

                            <!-- Panel -->
                            <article class="panel panel-success">

                                <!-- Icon -->
                                <div class="panel-heading icon">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </div>
                                <!-- /Icon -->

                                <!-- Heading -->
                                <div class="panel-heading">
                                    <div class="content">
                                        <div class="caja_inline"><span class="clickable panel-collapsed"><h2 class="panel-title">Resultado de Examen</h2></span></div>
                                    </div>
                                </div>
                                <!-- /Heading -->

                                <!-- Body -->
                                <div class="panel-body" style="display: none;">
                                    <p><i class="glyphicon glyphicon-calendar"></i> Fecha de Lectura: <b>{{ object.2.fecha_lectura }}</b></p>
                                    <p><i class="glyphicon glyphicon-edit"></i> Lectura: <b>{{ object.2.lectura }}</b></p>
                                    {% if object.2.comentario %}
                                        <p><i class="glyphicon glyphicon-comment"></i> Comentario: <b>{{ object.2.comentario }}</b></p>
                                    {% endif %}
                                </div>
                                <!-- /Body -->

                                <!-- Footer -->
                                <div class="panel-footer">

                                    <p>Tipo de examen: <b>{{ object.2.examen }}</b></p>
                                </div>
                                <!-- /Footer -->

                            </article>
                        </div>
                    {% else %}
                        <!-- /Panel -->
                        <div class="paginable" data-parent="#accordion">
                            <!-- Separator -->
                            <div class="separator text-muted" style="font-size: 15px">
                                <b>
                                    <i class="glyphicon glyphicon-calendar"></i>
                                    <time>{{ object.1 }}</time>
                                </b>
                            </div>
                            <!-- /Separator -->

                            <!-- Panel -->
                            <article class="panel panel-warning">

                                <!-- Icon -->
                                <div class="panel-heading icon">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </div>
                                <!-- /Icon -->

                                <!-- Heading -->
                                <div class="panel-heading">
                                    <div class="content">
                                        <div class="caja_inline"><span class="clickable panel-collapsed"><h2 class="panel-title">Consulta</h2></span></div>
                                        <div class="pull-right caja_inline">
                                            <div class="icon_inline iconos iconos panel-title">
                                                <a href="{% url 'ConsultarDiagnostico' pk=object.2.id %}"><i class="glyphicon glyphicon-eye-open"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Heading -->

                                <!-- Body -->
                                <div class="panel-body" style="display: none;">
                                    <p><i class="glyphicon glyphicon-usd">
                                    </i> Precio de la consulta:
                                        <b>
                                            {% if object.2.precio_consulta %}
                                                {{ object.2.precio_consulta }}
                                            {% else %}
                                                Gratuita
                                            {% endif %}
                                        </b>
                                    </p>
                                    {% if object.2.examen %}
                                        <p><i class="glyphicon glyphicon-edit"></i> Tipo de Examen: <b>{{ object.2.examen }}</b></p>
                                        <p><i class="glyphicon glyphicon-usd"></i> Precio del Examen:
                                            <b>
                                                {% if object.2.precio_examen %}
                                                    {{ object.2.precio_examen }}
                                                {% else %}
                                                    Gratuito
                                                {% endif %}
                                            </b>
                                        </p>
                                    {% endif %}
                                </div>
                                <!-- /Body -->

                                <!-- Footer -->
                                <div class="panel-footer">

                                    <p>Médico Responsable: <b>{{ object.2.medico }}</b></p>
                                </div>
                                <!-- /Footer -->

                            </article>
                        </div>

                    {% endif %}
                {% endfor %}
                <!-- /Timeline -->

            </div>
            <div class="col-md-12 text-center">
                <ul id="myPager" class="pagination"></ul>
            </div>
        </div>
        {% if messages %}
            {% for mensaje in messages %}
                <script type="text/javascript">
                    (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
                </script>
            {% endfor %}
        {% endif %}

        <script type="text/javascript">
            $('input[name="fecha_desde"]').mask('00/00/0000');
            $('input[name="fecha_hasta"]').mask('00/00/0000');
        </script>
        <script type="text/javascript">
            $('input[name="fecha_desde"]').dblclick(function() {
                $('input[name="fecha_desde"]').datepicker('show');
            });
            $('input[name="fecha_desde"]').click(function() {
                $('input[name="fecha_desde"]').datepicker('hide');
            });
        </script>
        <script type="text/javascript">
            $('input[name="fecha_desde"]').datepicker({
                format: "dd/mm/yyyy",
                todayBtn: "linked",
                maxViewMode: 3,
                autoclose: true,
                language: "es",
                daysOfWeekHighlighted: "0",
                clearBtn: true,
                todayHighlight: true,
                orientation: "bottom auto",
                container: "div.fecha_desde"
            });
        </script>

        <script type="text/javascript">
            $('input[name="fecha_hasta"]').dblclick(function() {
                $('input[name="fecha_hasta"]').datepicker('show');
            });
            $('input[name="fecha_hasta"]').click(function() {
                $('input[name="fecha_hasta"]').datepicker('hide');
            });
        </script>
        <script type="text/javascript">
            $('input[name="fecha_hasta"]').datepicker({
                format: "dd/mm/yyyy",
                todayBtn: "linked",
                maxViewMode: 3,
                autoclose: true,
                language: "es",
                daysOfWeekHighlighted: "0",
                clearBtn: true,
                todayHighlight: true,
                orientation: "bottom auto",
                container: "div.fecha_hasta"
            });
        </script>
{% endblock %}