{% extends 'base.html' %}
{% load static %}
{% load material_form %}

{% block content %}
    <main id="movermain">
        <form action="" method="POST" class="viewform">
            {% csrf_token %}
            {% form form=form %}
            {% endform %}

            <button class="btn btn-view"  type="submit" name="action" >Actualizar
                <i class="material-icons right">send</i>
            </button>

            <a class="btn btn-danger" href="{% url 'expediente' pk=object.expediente_id %}" type="submit">Cancelar<i class="material-icons right">cancel</i></a>
        </form>
    </main>
{% endblock %}