{% extends 'base.html' %}
{% load static %}
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}

{% block content %}
    <main id="movermain">
        <form action="" method="POST" class="viewform">
            {% csrf_token %}
            {% form form=form %}
                {% part form.nombre prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
                {% attr form.nombre 'widget' style  append %}text-transform: capitalize;{% endattr %}
                {% part form.apellido prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
                {% attr form.apellido 'widget' style  append %}text-transform: capitalize;{% endattr %}
                {% part form.parentesco prefix %}<i class="material-icons prefix">child_care</i>{% endpart %}
                {% attr form.parentesco 'widget' style  append %}text-transform: capitalize;{% endattr %}
                {% part form.telefono prefix %}<i class="material-icons prefix">call</i>{% endpart %}
            {% endform %}
            <button class="btn btn-view"  type="submit" name="action" >Actualizar
                <i class="material-icons right">send</i>
            </button>
            <a class="btn btn-danger" href="/pacientes" type="submit">Cancelar
                <i class="material-icons right">cancel</i></a>
        </form>
    </main>
{% endblock %}