{% extends 'base.html' %}
{% load static %}
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}
{% block content %}
    <main id="movermain">
        <form action="" method="post">{% csrf_token %}
            {% form form=form %}
                {% part form.num_expediente prefix %}<i class="material-icons prefix">date_range</i>{% endpart %}
                {% part form.diagnostico prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
                {% attr form.diagnostico 'widget' disabled%}
                    disabled
                {% endattr %}
                {% part form.tratamiento prefix %}<i class="material-icons prefix">child_care</i>{% endpart %}
                {% attr form.tratamiento 'widget' disabled%}
                    disabled
                {% endattr %}
                {% part form.lugar prefix %}<i class="material-icons prefix">assignment_ind</i>{% endpart %}
                {% part form.creado_por prefix %}<i class="material-icons prefix">poll</i>{% endpart %}
                {% attr form.creado_por 'widget' disabled%}
                {% endattr %}

            {% endform %}
            <a class="btn btn-primary" href={% url 'expediente' pk=object.id  %} >Regresar
                <i class="material-icons right">reply</i></a>
        </form>
    </main>
{% endblock %}