{% extends 'base.html' %}
{% load static %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}

{% block content %}
    <main id="movermain">
        <form action="" method="POST" class="viewform">
            {% csrf_token %}

            {% form form=paciente_form %}
                {% part form.nombre prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
                {% attr form.nombre 'widget' style  append %}text-transform: capitalize;{% endattr %}
                {% part form.apellido prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
                {% attr form.apellido 'widget' style  append %}text-transform: capitalize;{% endattr %}
                {% part form.dui prefix %}<i class="material-icons prefix">fingerprint</i>{% endpart %}
                {% part form.nit prefix %}<i class="material-icons prefix">fingerprint</i>{% endpart %}
                {% part form.fecha_nacimiento prefix %}<i class="material-icons prefix">date_range</i>{% endpart%}
                {% attr form.fecha_nacimiento 'group' class append %}fecha_1{% endattr %}
                {% attr form.fecha_nacimiento 'widget' autocomplete  append %}off{% endattr %}
                {% part form.telefono prefix %}<i class="material-icons prefix">call</i>{% endpart %}
                {% part form.estado_civil prefix %}<i class="material-icons prefix">loyalty</i>{% endpart %}
                {% part form.sexo prefix %}<i class="material-icons prefix">wc</i>{% endpart %}
                {% part form.departamento prefix %}<i class="material-icons prefix">home</i>{% endpart %}
                {% attr form.departamento 'widget' class append %}select-search{% endattr %}
                {% part form.municipio prefix %}<i class="material-icons prefix">home</i>{% endpart %}
                {% attr form.municipio 'widget' class append %}select-search{% endattr %}
                {% part form.direccion prefix %}<i class="material-icons prefix">home</i>{% endpart %}
                {% part form.email prefix %}<i class="material-icons prefix">email</i>{% endpart %}
            {% endform %}


            {% form form=responsable_form %}
                {% part form.nombre prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
                {% attr form.nombre 'widget' style  append %}text-transform: capitalize;{% endattr %}
                {% part form.apellido prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
                {% attr form.apellido 'widget' style  append %}text-transform: capitalize;{% endattr %}
                {% part form.parentesco prefix %}<i class="material-icons prefix">child_care</i>{% endpart %}
                {% attr form.parentesco 'widget' style  append %}text-transform: capitalize;{% endattr %}
                {% part form.telefono prefix %}<i class="material-icons prefix">call</i>{% endpart %}
            {% endform %}

            {% form form=expediente_form %}
                {% part form.num_expediente prefix %}<i class="material-icons prefix">assignment_ind</i>{% endpart %}
                {% part form.lugar prefix %}<i class="material-icons prefix">local_hospital</i>{% endpart %}
                {% part form.diagnostico prefix %}{% endpart %}
            {% endform %}

            <button class="btn btn-primary"  type="submit" name="action" >Registrar
                <i class="material-icons right">send</i>
            </button>

        </form>



        <script type="text/javascript">
            $('input[name="paciente-dui"]').mask('00000000-0');
            $('input[name="paciente-nit"]').mask('0000-000000-000-0');
            $('input[name="paciente-telefono"]').mask('0000-0000');
            $('input[name="responsable-telefono"]').mask('0000-0000');
            $('input[name="paciente-fecha_nacimiento"]').mask('00/00/0000');
        </script>

        <script type="text/javascript">
            $('input[name="paciente-fecha_nacimiento"]').dblclick(function() {
                $('input[name="paciente-fecha_nacimiento"]').datepicker('show');
            });
            $('input[name="paciente-fecha_nacimiento"]').click(function() {
                $('input[name="paciente-fecha_nacimiento"]').datepicker('hide');
            });
        </script>
        <script type="text/javascript">
            $('input[name="paciente-fecha_nacimiento"]').datepicker({
                format: "dd/mm/yyyy",
                todayBtn: "linked",
                maxViewMode: 3,
                autoclose: true,
                language: "es",
                daysOfWeekHighlighted: "0",
                clearBtn: true,
                todayHighlight: true,
                orientation: "bottom auto",
                container: "div.fecha_1"
            });
        </script>
        <script type="text/javascript">
            (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
        </script>
        <script type="text/javascript">
            $(function(){
                // turn the element to select2 select style
                $('.select-search').select2();
            });
        </script>
        <script type="text/javascript">
            $(function(){
                var options="";
                var value=$("#id_paciente-departamento").val();
                if(value!=''){
                    {% regroup municipios by departamento as departamento_list %}
                    {% for departamento in departamento_list %}
                        //alert('{{ departamento.grouper.id }}');
                        if(value=={{ departamento.grouper.id }})
                        {
                            options="<option>Seleccione un Municipio</option>"
                                {% for municipio in departamento.list %}
                                    +"<option value={{ municipio.id }}>{{ municipio }}</option>"
                                {% endfor %};
                            $("#id_paciente-municipio").html(options);
                        }
                    {% endfor %}
                }
            });
        </script>
        <script type="text/javascript">
            var options="";
            $("#id_paciente-departamento").on('change',function(){
                var value=$(this).val();
                if(value!=''){
                    {% regroup municipios by departamento as departamento_list %}
                    {% for departamento in departamento_list %}
                        //alert('{{ departamento.grouper.id }}');
                        if(value=={{ departamento.grouper.id }})
                        {
                            options="<option>Seleccione un Municipio</option>"
                                {% for municipio in departamento.list %}
                                    +"<option value={{ municipio.id }}>{{ municipio }}</option>"
                                {% endfor %};
                            $("#id_paciente-municipio").html(options);
                        }
                    {% endfor %}
                }
                else{
                    $("#id_paciente-municipio").find('option').remove()
                }
            });
        </script>
    </main>
{% endblock %}