{% extends 'base.html' %}
{% load static %}
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %}

{% block content %}
    <main id="movermain">
        <form method="POST" action="" class="viewform">
            {% csrf_token %}
            {% form form=form %}
                {% part form.username prefix %}<i class="material-icons prefix">account_circle</i>{% endpart %}
                {% part form.email prefix %}<i class="material-icons prefix">email</i>{% endpart %}
                {% part form.password1 prefix %}<i class="material-icons prefix">vpn_key</i>{% endpart %}
                {% part form.password2 prefix %}<i class="material-icons prefix">vpn_key</i>{% endpart %}
            {% endform %}

            <button class="btn btn-primary"  type="submit" name="action" >Registrar
                <i class="material-icons right">send</i>
            </button>

        </form>
        <script type="text/javascript">
            (function () { Materialize.toast('{{ mensaje }}', 4000, 'rounded') })();
        </script>
    </main>
{% endblock %}