{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Donadores</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap-glyphicons.css' %}">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
</head>
<body style="padding: 50px">
<center><img src="http://www.fundacionmpj.org/images/logo.png" alt="MPJ" width="150" height="170"></center>
<h1 style="font-family:Roboto;text-shadow: 1px 1px 0 pink,-1px -1px pink,1px -1px pink,-1px 1px pink,0 1px pink,1px 0 pink,-1px 0 pink,
                        0 -1px pink; ;color: #7e57c2"><center>Fundación Mensajeros Peregrinos con Jesus</center></h1>
<h2><center>Listado de donadores registrados</center></h2>

<table border="1" style="margin: 0px auto; width: 100%; text-align: center;">
    <thead>
    <tr>
        <th style="background-color:#204d74; color: white">Donador</th>
        <th style="background-color:#204d74; color: white">Telefono</th>
        <th style="background-color:#204d74; color: white">E-mail</th>
        <th style="background-color:#204d74; color: white">Institución</th>
    </tr>
    </thead>
    <tbody>
    {% for d in donadores %}
        <tr>
            <td>{{ d.nombre|title }} {{ d.apellido|title }}</td>
            <td>{{ d.telefono }}</td>
            {% if d.email %}
                <td>{{ d.email }}</td>
            {% else %}
                <td>No especificado</td>
            {% endif %}
            {% if not d.institucion %}
                <td>Independiente</td>
            {% else %}
                <td>{{ d.institucion|title }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
</body>
</html>