{% extends 'base.html' %}
{% load static %}
{% load material_form %}
{% block content %}
    <main class="servicios p-y-1" id="movermain">
        <div class="container">
            <h3 class="font-weight-bold text-center">Reportes de la Fundación Mensajeros y Peregrinos con Jesús</h3>
            <div class="row">
                <article class="col-md-4">
                    <img src="{% static 'img/doctor.svg' %}" alt="">
                    <h3><a href="{% url 'consultas_medicos' %}">Consultas atendidas por Médicos</a></h3>
                    <p class="hidden-sm-down">Muestra las consultas que han atendido los Médicos activos de la Fundación</p>
                    <a href="{% url 'consultas_medicos' %}" class="hidden-sm-down btn btn-secondary">Generar</a>
                </article>
                <article class="col-md-4">
                    <img src="{% static 'img/first-aid.svg' %}" alt="">
                    <h3><a href="{% url 'consultas_especialidades' %}">Consultas por Especialidad</a></h3>
                    <p class="hidden-sm-down">Muestra las consultas que se han atendido en las diferentes especialidades</p>
                    <a href="{% url 'consultas_especialidades' %}" class="hidden-sm-down btn btn-secondary">Generar</a>
                </article>
                <article class="col-md-4">
                    <img src="{% static 'img/pills.svg' %}" alt="">
                    <h3><a href="{% url 'reporte_medicamentos'%}">Inventario de Medicamentos</a></h3>
                    <p class="hidden-sm-down">Muestra el estado actual del Inventario, así como detalles de Entradas de Lotes y el estado de estos</p>
                    <a href="{% url 'reporte_medicamentos'%}" class="hidden-sm-down btn btn-secondary">Generar</a>
                </article>
                <article class="col-md-4">
                    <img src="{% static 'img/positive-verified-symbol-of-a-clipboard.svg' %}" alt="">
                    <h3><a href="{% url 'examenes_realizados' %}">Exámenes realizados</a></h3>
                    <p class="hidden-sm-down">Muestra los exámenes que se han realizado, el precio al que se hicieron y el precio sugerido según tarifa asignada.</p>
                    <a href="{% url 'examenes_realizados' %}" class="hidden-sm-down btn btn-secondary">Generar</a>
                </article>
                <article class="col-md-4">
                    <img src="{% static 'img/donation.svg' %}" alt="">
                    <h3><a href="{% url 'donaciones' %}">Donaciones</a></h3>
                    <p class="hidden-sm-down">Muestra las donaciones de diferente tipo que se han ido registrando a lo largo de la historia de la Fundación</p>
                    <a href="{% url 'donaciones' %}" class="hidden-sm-down btn btn-secondary">Generar</a>
                </article>
                <article class="col-md-4">
                    <img src="{% static 'img/cardiogram.svg' %}" alt="">
                    <h3><a href="{% url 'listadoDonadores' %}">Donadores</a></h3>
                    <p class="hidden-sm-down">Resumen de los Donadores activos de la Fundación</p>
                    <a href="{% url 'listadoDonadores' %}" class="hidden-sm-down btn btn-secondary">Generar</a>
                </article>
            </div>
        </div>
    </main>
{% endblock %}