{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reporte de Medicamentos</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap-glyphicons.css' %}">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
</head>

<body style="padding: 50px">
<center><img src="http://www.fundacionmpj.org/images/logo.png" alt="MPJ" width="150" height="170"></center>
<h1 style="font-family:Roboto;text-shadow: 1px 1px 0 pink,-1px -1px pink,1px -1px pink,-1px 1px pink,0 1px pink,1px 0 pink,-1px 0 pink,
                        0 -1px pink; ;color: #7e57c2"><center>Fundación Mensajeros Peregrinos con Jesus</center></h1>
<h2><center>Estado del Inventario de Medicamentos</center></h2>
<h3><center>Fecha del Reporte: <b>{{ fecha }}</b></center></h3>
{% for med in lista_med %}
    <p>Medicamento: <b>{{ med.0|title }}</b></p>
    <p>Stock actual: <b>{{ med.0.stock }}</b></p>
    {% if med.0.stock > 0 %}
        <table border="1" style="margin: 0px auto; width: 100%; text-align: center;">
            <thead>
            <tr>
                <th style="background-color:#204d74; color: white">Fecha de Ingreso</th>
                <th style="background-color:#204d74; color: white">Fecha de Vencimiento</th>
                <th style="background-color:#204d74; color: white">Cantidad que Ingresó</th>
                <th style="background-color:#204d74; color: white">Existencias</th>
            </tr>
            </thead>
            {% for lote in med.1 %}
                <tbody>
                <tr>
                    <td>{{ lote.fecha_ingreso }}</td>
                    <td>{{ lote.fecha_vencimiento }}</td>
                    <td>{{ lote.cantidad_ingreso }}</td>
                    <td>{{ lote.existencias }}</td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
        <br>
        {% if med.2 > 0 %}
            <p>Hay {{ med.2 }} medicamentos vencidos en Inventario.</p>
        {% else %}
            <p>No hay medicamentos vencidos.</p>
        {% endif %}
    {% endif %}
    <br>
{% endfor %}

</table>

</body>
</html>